/***** background stars *****/
/***** background stars *****/
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;
  color: white; }

canvas {
  position: absolute;
  top: 0vh;
  left: 28vh;
  width: 15vh;
  height: 4.5vh;
  z-index: -1; }

/* Text position */
.text {
  position: relative;
  margin-top: 13%;
  margin-left: 40px;
  width: 35%;
  z-index: 10;
  text-align: justify; }

.text_title {
  font-weight: 500;
  font-size: 21pt;
  position: relative; }

.text_subtitle1 {
  font-weight: 500;
  font-size: 16pt;
  margin-top: -12px;
  color: white; }

.text_subtitle2 {
  font-weight: 200;
  margin-top: 12px;
  font-size: 23pt;
  -webkit-animation: textrainbow 5s infinite alternate; }

.text_body {
  position: relative;
  margin-top: 32px;
  font-size: 14pt;
  font-weight: normal;
  color: white; }

.socialmedia {
  width: 100%;
  position: fixed;
  top: 100%;
  left: 40px;
  z-index: 15;
  -webkit-transform: translateY(-75px);
  -ms-transform: translateY(-75px);
  transform: translateY(-75px); }
  .socialmedia .soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0; }
    .socialmedia .soc li {
      display: inline-block;
      margin-right: 1rem; }
    .socialmedia .soc a {
      position: relative;
      height: 50px;
      width: 50px;
      display: block; }
    .socialmedia .soc svg {
      height: 100%;
      width: 100%;
      display: block; }

.icon-1 {
  color: white;
  fill: white; }
  .icon-1:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    background-color: #ff0000;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }

.icon-2 {
  color: white;
  fill: white; }
  .icon-2:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    background-color: #26b5d9;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }

.icon-3 {
  color: white;
  fill: white; }
  .icon-3:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    background-color: #d926b5;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }

.logo {
  position: fixed;
  padding-top: 40px;
  padding-left: 40px;
  width: 170px;
  z-index: 10;
  transition: all 0.5s ease-in-out; }
  .logo:hover {
    transform: scale(0.95); }

.svg:hover {
  z-index: 10;
  -webkit-animation: rainbow 5s infinite alternate; }

/*****style for 2nd version of rotation container***********/
*, *::after, *::before {
  box-sizing: border-box; }

.wrapper {
  position: fixed;
  z-index: 3;
  justify-content: center;
  /* For horizontal alignment */
  align-items: center;
  top: 40px;
  bottom: 40px;
  left: 0px;
  right: 90px; }
  .wrapper .circle {
    position: absolute;
    top: 0vh;
    left: 43%;
    width: 85vh;
    height: 85vh; }
    .wrapper .circle:hover > div {
      animation-play-state: paused; }
    .wrapper .circle .circle_holder {
      width: 60vh;
      height: 60vh;
      border-radius: 50%;
      position: relative;
      top: 13vh;
      left: 17.5vh; }
      .wrapper .circle .circle_holder .overlay {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out; }
        .wrapper .circle .circle_holder .overlay .peoplecontent {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 90px;
          margin-right: 90px;
          text-align: center;
          align-items: center;
          vertical-align: middle; }
    .wrapper .circle .flakeWrapper {
      height: 100%;
      width: 10vh;
      position: absolute;
      top: 0;
      left: 37.5vh;
      transform: translate3d(0, 0, 0);
      z-index: 3; }
      .wrapper .circle .flakeWrapper .flake {
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        z-index: 5;
        transition: all .8s ease-out; }
        .wrapper .circle .flakeWrapper .flake:hover {
          background: white;
          transform: scale(1.05);
          box-shadow: 0 0 .1em .1em white, 0 0 .08em .1em orange, 0 0 1em .15em yellow; }
        .wrapper .circle .flakeWrapper .flake img {
          width: 90%;
          height: auto;
          text-align: center;
          align: center;
          justify-content: center;
          -webkit-transform: translate(5%, 5%);
          border-radius: 50%; }
        .wrapper .circle .flakeWrapper .flake .content {
          top: 100%;
          text-align: center;
          justify-content: center;
          z-index: 10; }

@keyframes flake-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(36deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(396deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(36deg); }
  to {
    transform: rotate(-324deg); } }
.flakeWrapper--1 {
  transform-origin: 100% 50%;
  animation: flake-1 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--1 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #ffffff; }

#overlay--1 {
  opacity: 0;
  background-color: #ffffff; }

@keyframes flake-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(72deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(432deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(72deg); }
  to {
    transform: rotate(-288deg); } }
.flakeWrapper--2 {
  transform-origin: 100% 50%;
  animation: flake-2 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--2 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #f12526; }

#overlay--2 {
  opacity: 0;
  background-color: #f12526; }

@keyframes flake-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(108deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(468deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(108deg); }
  to {
    transform: rotate(-252deg); } }
.flakeWrapper--3 {
  transform-origin: 100% 50%;
  animation: flake-3 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--3 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #fd8b18; }

#overlay--3 {
  opacity: 0;
  background-color: #fd8b18; }

@keyframes flake-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(144deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(504deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(144deg); }
  to {
    transform: rotate(-216deg); } }
.flakeWrapper--4 {
  transform-origin: 100% 50%;
  animation: flake-4 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--4 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #e9eb00; }

#overlay--4 {
  opacity: 0;
  background-color: #e9eb00; }

@keyframes flake-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(180deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(540deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }
.flakeWrapper--5 {
  transform-origin: 100% 50%;
  animation: flake-5 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--5 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #7dc243; }

#overlay--5 {
  opacity: 0;
  background-color: #7dc243; }

@keyframes flake-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(216deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(576deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(216deg); }
  to {
    transform: rotate(-144deg); } }
.flakeWrapper--6 {
  transform-origin: 100% 50%;
  animation: flake-6 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--6 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #4bb752; }

#overlay--6 {
  opacity: 0;
  background-color: #4bb752; }

@keyframes flake-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(252deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(612deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(252deg); }
  to {
    transform: rotate(-108deg); } }
.flakeWrapper--7 {
  transform-origin: 100% 50%;
  animation: flake-7 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--7 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #44bd92; }

#overlay--7 {
  opacity: 0;
  background-color: #44bd92; }

@keyframes flake-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(288deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(648deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(288deg); }
  to {
    transform: rotate(-72deg); } }
.flakeWrapper--8 {
  transform-origin: 100% 50%;
  animation: flake-8 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--8 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #23b0cc; }

#overlay--8 {
  opacity: 0;
  background-color: #23b0cc; }

@keyframes flake-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(324deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(684deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(324deg); }
  to {
    transform: rotate(-36deg); } }
.flakeWrapper--9 {
  transform-origin: 100% 50%;
  animation: flake-9 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--9 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #3c60ae; }

#overlay--9 {
  opacity: 0;
  background-color: #3c60ae; }

@keyframes flake-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(360deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg); } }
@keyframes inner_circle {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
.flakeWrapper--10 {
  transform-origin: 100% 50%;
  animation: flake-10 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--10 .flake {
    margin: 5px;
    opacity: 1;
    background-color: #554da0; }

#overlay--10 {
  opacity: 0;
  background-color: #554da0; }

/****background stars*****/
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  z-index: 2;
  box-shadow: 191px 15313px #FFF , 1314px 1717px #FFF , 1912px 1061px #FFF , 1622px 1943px #FFF , 1190px 166px #FFF , 435px 1854px #FFF , 356px 1293px #FFF , 996px 87px #FFF , 930px 1328px #FFF , 379px 657px #FFF , 1110px 198px #FFF , 1748px 1811px #FFF , 542px 1414px #FFF , 959px 531px #FFF , 202px 1854px #FFF , 255px 1411px #FFF , 410px 1055px #FFF , 72px 1189px #FFF , 1029px 841px #FFF , 361px 1054px #FFF , 694px 1700px #FFF , 1473px 35px #FFF , 818px 1729px #FFF , 700px 936px #FFF , 843px 304px #FFF , 1430px 579px #FFF , 676px 1561px #FFF , 1905px 1289px #FFF , 1780px 1100px #FFF , 1547px 607px #FFF , 836px 1981px #FFF , 137px 1687px #FFF , 1622px 1517px #FFF , 1186px 394px #FFF , 1985px 1429px #FFF , 1765px 844px #FFF , 1184px 1817px #FFF , 979px 1600px #FFF , 640px 815px #FFF , 1779px 158px #FFF , 1023px 1604px #FFF , 379px 291px #FFF , 1340px 975px #FFF , 1891px 722px #FFF , 310px 1687px #FFF , 554px 563px #FFF , 1105px 987px #FFF , 954px 786px #FFF , 1111px 1634px #FFF , 17px 104px #FFF , 18px 250px #FFF , 874px 1085px #FFF , 16px 1457px #FFF , 594px 519px #FFF , 370px 676px #FFF , 848px 1572px #FFF , 606px 404px #FFF , 877px 219px #FFF , 280px 276px #FFF , 1995px 152px #FFF , 343px 500px #FFF , 159px 1724px #FFF , 717px 1990px #FFF , 1489px 530px #FFF , 1408px 1772px #FFF , 1541px 90px #FFF , 1613px 602px #FFF , 805px 1757px #FFF , 1819px 469px #FFF , 1376px 1990px #FFF , 119px 1492px #FFF , 880px 740px #FFF , 1082px 415px #FFF , 1396px 534px #FFF , 1743px 1437px #FFF , 697px 1575px #FFF , 1545px 1140px #FFF , 784px 1473px #FFF , 1701px 916px #FFF , 860px 314px #FFF , 513px 1583px #FFF , 111px 1511px #FFF , 1236px 860px #FFF , 1941px 592px #FFF , 746px 663px #FFF , 1096px 1469px #FFF , 1312px 657px #FFF , 892px 1395px #FFF , 588px 1173px #FFF , 1031px 1502px #FFF , 613px 1837px #FFF , 892px 1854px #FFF , 904px 1308px #FFF , 1928px 411px #FFF , 1514px 1355px #FFF , 745px 1930px #FFF , 1617px 1233px #FFF , 973px 1262px #FFF , 1622px 915px #FFF , 1790px 717px #FFF , 1338px 433px #FFF , 608px 1771px #FFF , 123px 1543px #FFF , 1549px 445px #FFF , 618px 1151px #FFF , 1579px 653px #FFF , 1272px 54px #FFF , 532px 651px #FFF , 951px 1829px #FFF , 575px 36px #FFF , 37px 1712px #FFF , 681px 522px #FFF , 1477px 947px #FFF , 1228px 440px #FFF , 1867px 1011px #FFF , 827px 589px #FFF , 1001px 1175px #FFF , 864px 1516px #FFF , 28px 801px #FFF , 721px 853px #FFF , 1184px 1908px #FFF , 1037px 1907px #FFF , 1866px 1126px #FFF , 507px 1902px #FFF , 909px 1731px #FFF , 1744px 1977px #FFF , 1216px 362px #FFF , 1944px 817px #FFF , 4px 521px #FFF , 827px 1098px #FFF , 1912px 788px #FFF , 556px 1619px #FFF , 1490px 1206px #FFF , 1583px 713px #FFF , 757px 1117px #FFF , 1249px 121px #FFF , 21px 501px #FFF , 404px 1709px #FFF , 1960px 1532px #FFF , 657px 1626px #FFF , 391px 1597px #FFF , 1972px 223px #FFF , 1632px 1444px #FFF , 117px 487px #FFF , 1161px 1413px #FFF , 864px 211px #FFF , 785px 915px #FFF , 1750px 863px #FFF , 1153px 769px #FFF , 540px 1351px #FFF , 1027px 1370px #FFF , 36px 1301px #FFF , 928px 480px #FFF , 1073px 593px #FFF , 657px 1564px #FFF , 382px 1485px #FFF , 1518px 1279px #FFF , 350px 295px #FFF , 1049px 927px #FFF , 232px 263px #FFF , 926px 1118px #FFF , 1516px 1269px #FFF , 132px 1946px #FFF , 1069px 772px #FFF , 472px 216px #FFF , 353px 598px #FFF , 874px 287px #FFF , 1969px 673px #FFF , 1940px 1648px #FFF , 1290px 870px #FFF , 751px 870px #FFF , 836px 1035px #FFF , 852px 226px #FFF , 1189px 1741px #FFF , 654px 254px #FFF , 401px 1524px #FFF , 662px 659px #FFF , 1151px 396px #FFF , 841px 1402px #FFF , 112px 1416px #FFF , 509px 1175px #FFF , 615px 1254px #FFF , 1376px 1858px #FFF , 731px 1048px #FFF , 535px 780px #FFF , 1554px 925px #FFF , 406px 1439px #FFF , 1455px 879px #FFF , 832px 377px #FFF , 799px 334px #FFF , 1001px 1652px #FFF , 1397px 210px #FFF , 495px 311px #FFF , 640px 1240px #FFF , 1644px 1922px #FFF , 836px 1453px #FFF , 569px 1733px #FFF , 654px 1910px #FFF , 1045px 702px #FFF , 459px 1021px #FFF , 1988px 1072px #FFF , 628px 1826px #FFF , 1730px 1223px #FFF , 1015px 954px #FFF , 1621px 1332px #FFF , 1350px 1860px #FFF , 653px 1380px #FFF , 1781px 140px #FFF , 875px 702px #FFF , 1148px 569px #FFF , 901px 1806px #FFF , 364px 1344px #FFF , 134px 813px #FFF , 959px 135px #FFF , 645px 564px #FFF , 78px 1481px #FFF , 1387px 331px #FFF , 1154px 149px #FFF , 14px 1861px #FFF , 225px 1814px #FFF , 370px 177px #FFF , 1275px 1046px #FFF , 172px 650px #FFF , 1432px 481px #FFF , 910px 1582px #FFF , 689px 1276px #FFF , 1870px 978px #FFF , 115px 1964px #FFF , 1725px 1500px #FFF , 589px 1560px #FFF , 650px 751px #FFF , 208px 1156px #FFF , 1250px 1255px #FFF , 894px 928px #FFF , 1876px 67px #FFF , 1256px 769px #FFF , 1542px 749px #FFF , 738px 289px #FFF , 998px 1051px #FFF , 749px 1906px #FFF , 1745px 929px #FFF , 1171px 1433px #FFF , 1593px 1523px #FFF , 1303px 1159px #FFF , 636px 1610px #FFF , 431px 1350px #FFF , 1851px 1908px #FFF , 1759px 1629px #FFF , 647px 776px #FFF , 291px 1425px #FFF , 1255px 1102px #FFF , 542px 661px #FFF , 44px 1252px #FFF , 460px 1684px #FFF , 535px 1551px #FFF , 1787px 1659px #FFF , 914px 1881px #FFF , 516px 372px #FFF , 910px 291px #FFF , 1211px 477px #FFF , 305px 939px #FFF , 702px 629px #FFF , 801px 1855px #FFF , 1284px 1853px #FFF , 635px 989px #FFF , 490px 608px #FFF , 1975px 1905px #FFF , 1721px 1942px #FFF , 448px 29px #FFF , 314px 1905px #FFF , 1641px 33px #FFF , 1220px 731px #FFF , 1040px 1728px #FFF , 1374px 613px #FFF , 1604px 990px #FFF , 1605px 1689px #FFF , 16px 1596px #FFF , 1593px 963px #FFF , 1214px 1331px #FFF , 955px 166px #FFF , 1126px 1898px #FFF , 218px 975px #FFF , 837px 274px #FFF , 320px 879px #FFF , 1362px 643px #FFF , 1060px 172px #FFF , 258px 1387px #FFF , 895px 1316px #FFF , 1568px 930px #FFF , 1790px 1181px #FFF , 1304px 1458px #FFF , 254px 1382px #FFF , 252px 672px #FFF , 513px 1753px #FFF , 639px 560px #FFF , 446px 175px #FFF , 1672px 944px #FFF , 1027px 1643px #FFF , 1708px 623px #FFF , 1377px 876px #FFF , 1032px 768px #FFF , 1130px 294px #FFF , 241px 1672px #FFF , 413px 69px #FFF , 115px 1268px #FFF , 1842px 1454px #FFF , 1646px 933px #FFF , 1858px 1180px #FFF , 417px 1501px #FFF , 1815px 629px #FFF , 436px 1554px #FFF , 515px 1644px #FFF , 1177px 1104px #FFF , 1332px 88px #FFF , 86px 1216px #FFF , 567px 1126px #FFF , 1739px 1341px #FFF , 504px 1021px #FFF , 1273px 1931px #FFF , 1615px 258px #FFF , 1465px 1151px #FFF , 323px 140px #FFF , 1920px 969px #FFF , 729px 1149px #FFF , 1532px 1636px #FFF , 121px 183px #FFF , 1603px 1444px #FFF , 1992px 268px #FFF , 1498px 790px #FFF , 477px 1182px #FFF , 909px 1115px #FFF , 308px 32px #FFF , 324px 906px #FFF , 818px 1132px #FFF , 210px 205px #FFF , 951px 1062px #FFF , 1714px 504px #FFF , 366px 224px #FFF , 447px 1208px #FFF , 406px 1277px #FFF , 765px 510px #FFF , 1408px 1651px #FFF , 45px 640px #FFF , 50px 803px #FFF , 1423px 1724px #FFF , 1922px 1040px #FFF , 1589px 1703px #FFF , 584px 1657px #FFF , 1676px 702px #FFF , 1927px 1755px #FFF , 1278px 1450px #FFF , 1834px 1211px #FFF , 534px 97px #FFF , 1935px 504px #FFF , 1060px 915px #FFF , 1443px 1778px #FFF , 1194px 366px #FFF , 1997px 233px #FFF , 1019px 1167px #FFF , 1118px 1177px #FFF , 1516px 1017px #FFF , 562px 1400px #FFF , 1821px 1650px #FFF , 1792px 1507px #FFF , 263px 865px #FFF , 935px 1341px #FFF , 211px 130px #FFF , 985px 649px #FFF , 1093px 1985px #FFF , 363px 818px #FFF , 384px 1289px #FFF , 436px 1039px #FFF , 959px 638px #FFF , 294px 484px #FFF , 741px 228px #FFF , 436px 103px #FFF , 630px 1921px #FFF , 338px 788px #FFF , 660px 1406px #FFF , 963px 1088px #FFF , 1363px 1692px #FFF , 761px 1183px #FFF , 1842px 176px #FFF , 104px 402px #FFF , 1713px 279px #FFF , 838px 1951px #FFF , 1356px 1462px #FFF , 316px 1543px #FFF , 1041px 923px #FFF , 1566px 1364px #FFF , 1559px 128px #FFF , 1904px 766px #FFF , 1738px 1131px #FFF , 440px 1810px #FFF , 1176px 691px #FFF , 557px 783px #FFF , 1113px 1843px #FFF , 1297px 112px #FFF , 248px 1403px #FFF , 407px 866px #FFF , 761px 1535px #FFF , 81px 176px #FFF , 60px 377px #FFF , 1981px 1928px #FFF , 1689px 1259px #FFF , 413px 817px #FFF , 182px 748px #FFF , 930px 689px #FFF , 108px 1884px #FFF , 1355px 574px #FFF , 1778px 1871px #FFF , 533px 580px #FFF , 119px 1951px #FFF , 918px 1119px #FFF , 489px 1783px #FFF , 1657px 453px #FFF , 59px 1680px #FFF , 1872px 239px #FFF , 839px 1248px #FFF , 1595px 246px #FFF , 900px 301px #FFF , 377px 1657px #FFF , 390px 1563px #FFF , 141px 262px #FFF , 755px 635px #FFF , 305px 965px #FFF , 606px 679px #FFF , 1880px 1421px #FFF , 1804px 808px #FFF , 854px 1197px #FFF , 330px 1663px #FFF , 919px 1937px #FFF , 878px 1709px #FFF , 795px 1270px #FFF , 1359px 1109px #FFF , 236px 1015px #FFF , 1438px 875px #FFF , 261px 1347px #FFF , 36px 1061px #FFF , 821px 1566px #FFF , 885px 1134px #FFF , 1203px 713px #FFF , 279px 727px #FFF , 1764px 1165px #FFF , 1031px 1695px #FFF , 177px 1985px #FFF , 367px 1019px #FFF , 808px 1702px #FFF , 512px 1483px #FFF , 112px 1629px #FFF , 1090px 67px #FFF , 131px 1206px #FFF , 1436px 474px #FFF , 1975px 7px #FFF , 1484px 443px #FFF , 1219px 221px #FFF , 1889px 1956px #FFF , 643px 676px #FFF , 1142px 1282px #FFF , 1271px 841px #FFF , 1389px 751px #FFF , 502px 341px #FFF , 1511px 1791px #FFF , 130px 1809px #FFF , 1431px 1750px #FFF , 1794px 53px #FFF , 919px 1276px #FFF , 494px 1652px #FFF , 392px 345px #FFF , 1591px 1463px #FFF , 1257px 1576px #FFF , 33px 1579px #FFF , 1467px 492px #FFF , 917px 1169px #FFF , 1569px 1136px #FFF , 345px 69px #FFF , 52px 1411px #FFF , 1622px 161px #FFF , 115px 1913px #FFF , 1639px 142px #FFF , 1558px 625px #FFF , 813px 986px #FFF , 1202px 1237px #FFF , 765px 297px #FFF , 476px 488px #FFF , 1719px 385px #FFF , 1366px 1502px #FFF , 621px 961px #FFF , 1709px 531px #FFF , 396px 1138px #FFF , 1026px 362px #FFF , 1343px 172px #FFF , 1622px 882px #FFF , 405px 193px #FFF , 200px 851px #FFF , 323px 1716px #FFF , 1027px 1624px #FFF , 1603px 1717px #FFF , 570px 954px #FFF , 1410px 212px #FFF , 125px 219px #FFF , 556px 888px #FFF , 1798px 1180px #FFF , 1841px 337px #FFF , 919px 604px #FFF , 619px 1117px #FFF , 1275px 486px #FFF , 25px 202px #FFF , 1954px 14px #FFF , 426px 1913px #FFF , 1464px 45px #FFF , 159px 1425px #FFF , 1369px 823px #FFF , 1628px 1931px #FFF , 1652px 268px #FFF , 1568px 966px #FFF , 1270px 736px #FFF , 747px 776px #FFF , 562px 1595px #FFF , 72px 1833px #FFF , 150px 960px #FFF , 515px 1112px #FFF , 1149px 1540px #FFF , 1897px 1780px #FFF , 549px 1951px #FFF , 1440px 161px #FFF , 1576px 1930px #FFF , 11px 673px #FFF , 352px 980px #FFF , 110px 622px #FFF , 1593px 1957px #FFF , 316px 1578px #FFF , 1237px 775px #FFF , 19px 253px #FFF , 152px 1802px #FFF , 1952px 409px #FFF , 514px 200px #FFF , 547px 832px #FFF , 1473px 573px #FFF , 535px 717px #FFF , 1933px 1925px #FFF , 624px 1266px #FFF , 1794px 28px #FFF , 872px 339px #FFF , 1385px 1175px #FFF , 208px 1625px #FFF , 1198px 1808px #FFF , 1309px 417px #FFF , 1943px 1662px #FFF , 821px 1874px #FFF , 1622px 886px #FFF , 1189px 918px #FFF , 468px 243px #FFF , 1297px 10px #FFF , 1480px 1762px #FFF , 1040px 1575px #FFF , 1853px 818px #FFF , 633px 371px #FFF , 1257px 250px #FFF , 1545px 1111px #FFF , 881px 34px #FFF , 32px 1379px #FFF , 367px 1057px #FFF , 109px 760px #FFF , 1612px 872px #FFF , 884px 1315px #FFF , 1691px 799px #FFF , 71px 1261px #FFF , 958px 591px #FFF , 1501px 1485px #FFF , 425px 535px #FFF , 1484px 1352px #FFF , 239px 1050px #FFF , 142px 1943px #FFF , 1994px 212px #FFF , 193px 1445px #FFF , 426px 1203px #FFF , 147px 251px #FFF , 300px 1954px #FFF , 357px 26px #FFF , 386px 1627px #FFF , 380px 1693px #FFF , 985px 1792px #FFF , 946px 1433px #FFF , 1542px 1126px #FFF , 776px 512px #FFF , 891px 1340px #FFF , 851px 1293px #FFF , 115px 1740px #FFF , 767px 1255px #FFF , 90px 1782px #FFF , 1606px 856px #FFF , 939px 1431px #FFF , 1768px 919px #FFF , 21px 100px #FFF , 1464px 93px #FFF , 1905px 890px #FFF , 339px 431px #FFF , 904px 1092px #FFF , 1758px 1503px #FFF , 697px 258px #FFF , 1726px 1038px #FFF , 319px 1419px #FFF , 88px 927px #FFF , 1034px 983px #FFF , 447px 1261px #FFF , 1220px 1196px #FFF , 377px 1319px #FFF , 502px 800px #FFF , 328px 1113px #FFF , 1671px 1720px #FFF , 1873px 1846px #FFF , 254px 430px #FFF , 1672px 1604px #FFF , 1658px 1814px #FFF , 5px 1737px #FFF , 20px 1607px #FFF , 1797px 1541px #FFF , 53px 1516px #FFF , 987px 1385px #FFF , 355px 479px #FFF , 904px 1638px #FFF , 1388px 1651px #FFF , 1906px 1710px #FFF , 925px 324px #FFF , 1039px 1199px #FFF , 402px 319px #FFF , 1534px 931px #FFF , 1594px 1965px #FFF , 1955px 277px #FFF , 214px 1058px #FFF , 295px 1645px #FFF , 1796px 1608px #FFF , 536px 207px #FFF , 1733px 99px #FFF , 1623px 1379px #FFF , 1354px 1891px #FFF , 132px 76px #FFF , 157px 1072px #FFF , 1569px 758px #FFF , 707px 1761px #FFF , 400px 1201px #FFF , 951px 205px #FFF , 1353px 750px #FFF , 1140px 1628px #FFF , 626px 62px #FFF , 1600px 821px #FFF , 346px 185px #FFF , 1416px 1532px #FFF , 651px 1097px #FFF , 1550px 245px #FFF , 1920px 33px #FFF , 610px 417px #FFF , 108px 934px #FFF , 56px 1997px #FFF , 1424px 1641px #FFF , 1840px 1214px #FFF , 53px 1712px #FFF , 1796px 1255px #FFF , 1569px 1587px #FFF , 688px 517px #FFF , 1836px 1299px #FFF , 328px 1482px #FFF , 1844px 1816px #FFF , 747px 690px #FFF , 751px 837px #FFF , 1463px 1510px #FFF , 989px 918px #FFF , 267px 1572px #FFF , 525px 1453px #FFF , 950px 1093px #FFF , 1735px 86px #FFF , 1395px 369px #FFF , 1123px 1267px #FFF , 252px 1616px #FFF , 448px 613px #FFF , 1179px 1696px #FFF , 1499px 1221px #FFF , 50px 1710px #FFF , 1658px 662px #FFF , 449px 1380px #FFF , 1050px 922px #FFF , 1248px 1924px #FFF , 1686px 1423px #FFF , 585px 1414px #FFF , 1503px 1055px #FFF , 364px 831px #FFF , 1005px 350px #FFF , 87px 214px #FFF , 1960px 947px #FFF , 1340px 758px #FFF , 358px 1172px #FFF , 1593px 1314px #FFF , 1701px 219px #FFF , 343px 764px #FFF , 66px 962px #FFF , 681px 1258px #FFF , 1565px 1384px #FFF , 1530px 388px #FFF , 1782px 1005px #FFF;
  border-radius: 50%;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    z-index: 2;
    box-shadow: 191px 15313px #FFF , 1314px 1717px #FFF , 1912px 1061px #FFF , 1622px 1943px #FFF , 1190px 166px #FFF , 435px 1854px #FFF , 356px 1293px #FFF , 996px 87px #FFF , 930px 1328px #FFF , 379px 657px #FFF , 1110px 198px #FFF , 1748px 1811px #FFF , 542px 1414px #FFF , 959px 531px #FFF , 202px 1854px #FFF , 255px 1411px #FFF , 410px 1055px #FFF , 72px 1189px #FFF , 1029px 841px #FFF , 361px 1054px #FFF , 694px 1700px #FFF , 1473px 35px #FFF , 818px 1729px #FFF , 700px 936px #FFF , 843px 304px #FFF , 1430px 579px #FFF , 676px 1561px #FFF , 1905px 1289px #FFF , 1780px 1100px #FFF , 1547px 607px #FFF , 836px 1981px #FFF , 137px 1687px #FFF , 1622px 1517px #FFF , 1186px 394px #FFF , 1985px 1429px #FFF , 1765px 844px #FFF , 1184px 1817px #FFF , 979px 1600px #FFF , 640px 815px #FFF , 1779px 158px #FFF , 1023px 1604px #FFF , 379px 291px #FFF , 1340px 975px #FFF , 1891px 722px #FFF , 310px 1687px #FFF , 554px 563px #FFF , 1105px 987px #FFF , 954px 786px #FFF , 1111px 1634px #FFF , 17px 104px #FFF , 18px 250px #FFF , 874px 1085px #FFF , 16px 1457px #FFF , 594px 519px #FFF , 370px 676px #FFF , 848px 1572px #FFF , 606px 404px #FFF , 877px 219px #FFF , 280px 276px #FFF , 1995px 152px #FFF , 343px 500px #FFF , 159px 1724px #FFF , 717px 1990px #FFF , 1489px 530px #FFF , 1408px 1772px #FFF , 1541px 90px #FFF , 1613px 602px #FFF , 805px 1757px #FFF , 1819px 469px #FFF , 1376px 1990px #FFF , 119px 1492px #FFF , 880px 740px #FFF , 1082px 415px #FFF , 1396px 534px #FFF , 1743px 1437px #FFF , 697px 1575px #FFF , 1545px 1140px #FFF , 784px 1473px #FFF , 1701px 916px #FFF , 860px 314px #FFF , 513px 1583px #FFF , 111px 1511px #FFF , 1236px 860px #FFF , 1941px 592px #FFF , 746px 663px #FFF , 1096px 1469px #FFF , 1312px 657px #FFF , 892px 1395px #FFF , 588px 1173px #FFF , 1031px 1502px #FFF , 613px 1837px #FFF , 892px 1854px #FFF , 904px 1308px #FFF , 1928px 411px #FFF , 1514px 1355px #FFF , 745px 1930px #FFF , 1617px 1233px #FFF , 973px 1262px #FFF , 1622px 915px #FFF , 1790px 717px #FFF , 1338px 433px #FFF , 608px 1771px #FFF , 123px 1543px #FFF , 1549px 445px #FFF , 618px 1151px #FFF , 1579px 653px #FFF , 1272px 54px #FFF , 532px 651px #FFF , 951px 1829px #FFF , 575px 36px #FFF , 37px 1712px #FFF , 681px 522px #FFF , 1477px 947px #FFF , 1228px 440px #FFF , 1867px 1011px #FFF , 827px 589px #FFF , 1001px 1175px #FFF , 864px 1516px #FFF , 28px 801px #FFF , 721px 853px #FFF , 1184px 1908px #FFF , 1037px 1907px #FFF , 1866px 1126px #FFF , 507px 1902px #FFF , 909px 1731px #FFF , 1744px 1977px #FFF , 1216px 362px #FFF , 1944px 817px #FFF , 4px 521px #FFF , 827px 1098px #FFF , 1912px 788px #FFF , 556px 1619px #FFF , 1490px 1206px #FFF , 1583px 713px #FFF , 757px 1117px #FFF , 1249px 121px #FFF , 21px 501px #FFF , 404px 1709px #FFF , 1960px 1532px #FFF , 657px 1626px #FFF , 391px 1597px #FFF , 1972px 223px #FFF , 1632px 1444px #FFF , 117px 487px #FFF , 1161px 1413px #FFF , 864px 211px #FFF , 785px 915px #FFF , 1750px 863px #FFF , 1153px 769px #FFF , 540px 1351px #FFF , 1027px 1370px #FFF , 36px 1301px #FFF , 928px 480px #FFF , 1073px 593px #FFF , 657px 1564px #FFF , 382px 1485px #FFF , 1518px 1279px #FFF , 350px 295px #FFF , 1049px 927px #FFF , 232px 263px #FFF , 926px 1118px #FFF , 1516px 1269px #FFF , 132px 1946px #FFF , 1069px 772px #FFF , 472px 216px #FFF , 353px 598px #FFF , 874px 287px #FFF , 1969px 673px #FFF , 1940px 1648px #FFF , 1290px 870px #FFF , 751px 870px #FFF , 836px 1035px #FFF , 852px 226px #FFF , 1189px 1741px #FFF , 654px 254px #FFF , 401px 1524px #FFF , 662px 659px #FFF , 1151px 396px #FFF , 841px 1402px #FFF , 112px 1416px #FFF , 509px 1175px #FFF , 615px 1254px #FFF , 1376px 1858px #FFF , 731px 1048px #FFF , 535px 780px #FFF , 1554px 925px #FFF , 406px 1439px #FFF , 1455px 879px #FFF , 832px 377px #FFF , 799px 334px #FFF , 1001px 1652px #FFF , 1397px 210px #FFF , 495px 311px #FFF , 640px 1240px #FFF , 1644px 1922px #FFF , 836px 1453px #FFF , 569px 1733px #FFF , 654px 1910px #FFF , 1045px 702px #FFF , 459px 1021px #FFF , 1988px 1072px #FFF , 628px 1826px #FFF , 1730px 1223px #FFF , 1015px 954px #FFF , 1621px 1332px #FFF , 1350px 1860px #FFF , 653px 1380px #FFF , 1781px 140px #FFF , 875px 702px #FFF , 1148px 569px #FFF , 901px 1806px #FFF , 364px 1344px #FFF , 134px 813px #FFF , 959px 135px #FFF , 645px 564px #FFF , 78px 1481px #FFF , 1387px 331px #FFF , 1154px 149px #FFF , 14px 1861px #FFF , 225px 1814px #FFF , 370px 177px #FFF , 1275px 1046px #FFF , 172px 650px #FFF , 1432px 481px #FFF , 910px 1582px #FFF , 689px 1276px #FFF , 1870px 978px #FFF , 115px 1964px #FFF , 1725px 1500px #FFF , 589px 1560px #FFF , 650px 751px #FFF , 208px 1156px #FFF , 1250px 1255px #FFF , 894px 928px #FFF , 1876px 67px #FFF , 1256px 769px #FFF , 1542px 749px #FFF , 738px 289px #FFF , 998px 1051px #FFF , 749px 1906px #FFF , 1745px 929px #FFF , 1171px 1433px #FFF , 1593px 1523px #FFF , 1303px 1159px #FFF , 636px 1610px #FFF , 431px 1350px #FFF , 1851px 1908px #FFF , 1759px 1629px #FFF , 647px 776px #FFF , 291px 1425px #FFF , 1255px 1102px #FFF , 542px 661px #FFF , 44px 1252px #FFF , 460px 1684px #FFF , 535px 1551px #FFF , 1787px 1659px #FFF , 914px 1881px #FFF , 516px 372px #FFF , 910px 291px #FFF , 1211px 477px #FFF , 305px 939px #FFF , 702px 629px #FFF , 801px 1855px #FFF , 1284px 1853px #FFF , 635px 989px #FFF , 490px 608px #FFF , 1975px 1905px #FFF , 1721px 1942px #FFF , 448px 29px #FFF , 314px 1905px #FFF , 1641px 33px #FFF , 1220px 731px #FFF , 1040px 1728px #FFF , 1374px 613px #FFF , 1604px 990px #FFF , 1605px 1689px #FFF , 16px 1596px #FFF , 1593px 963px #FFF , 1214px 1331px #FFF , 955px 166px #FFF , 1126px 1898px #FFF , 218px 975px #FFF , 837px 274px #FFF , 320px 879px #FFF , 1362px 643px #FFF , 1060px 172px #FFF , 258px 1387px #FFF , 895px 1316px #FFF , 1568px 930px #FFF , 1790px 1181px #FFF , 1304px 1458px #FFF , 254px 1382px #FFF , 252px 672px #FFF , 513px 1753px #FFF , 639px 560px #FFF , 446px 175px #FFF , 1672px 944px #FFF , 1027px 1643px #FFF , 1708px 623px #FFF , 1377px 876px #FFF , 1032px 768px #FFF , 1130px 294px #FFF , 241px 1672px #FFF , 413px 69px #FFF , 115px 1268px #FFF , 1842px 1454px #FFF , 1646px 933px #FFF , 1858px 1180px #FFF , 417px 1501px #FFF , 1815px 629px #FFF , 436px 1554px #FFF , 515px 1644px #FFF , 1177px 1104px #FFF , 1332px 88px #FFF , 86px 1216px #FFF , 567px 1126px #FFF , 1739px 1341px #FFF , 504px 1021px #FFF , 1273px 1931px #FFF , 1615px 258px #FFF , 1465px 1151px #FFF , 323px 140px #FFF , 1920px 969px #FFF , 729px 1149px #FFF , 1532px 1636px #FFF , 121px 183px #FFF , 1603px 1444px #FFF , 1992px 268px #FFF , 1498px 790px #FFF , 477px 1182px #FFF , 909px 1115px #FFF , 308px 32px #FFF , 324px 906px #FFF , 818px 1132px #FFF , 210px 205px #FFF , 951px 1062px #FFF , 1714px 504px #FFF , 366px 224px #FFF , 447px 1208px #FFF , 406px 1277px #FFF , 765px 510px #FFF , 1408px 1651px #FFF , 45px 640px #FFF , 50px 803px #FFF , 1423px 1724px #FFF , 1922px 1040px #FFF , 1589px 1703px #FFF , 584px 1657px #FFF , 1676px 702px #FFF , 1927px 1755px #FFF , 1278px 1450px #FFF , 1834px 1211px #FFF , 534px 97px #FFF , 1935px 504px #FFF , 1060px 915px #FFF , 1443px 1778px #FFF , 1194px 366px #FFF , 1997px 233px #FFF , 1019px 1167px #FFF , 1118px 1177px #FFF , 1516px 1017px #FFF , 562px 1400px #FFF , 1821px 1650px #FFF , 1792px 1507px #FFF , 263px 865px #FFF , 935px 1341px #FFF , 211px 130px #FFF , 985px 649px #FFF , 1093px 1985px #FFF , 363px 818px #FFF , 384px 1289px #FFF , 436px 1039px #FFF , 959px 638px #FFF , 294px 484px #FFF , 741px 228px #FFF , 436px 103px #FFF , 630px 1921px #FFF , 338px 788px #FFF , 660px 1406px #FFF , 963px 1088px #FFF , 1363px 1692px #FFF , 761px 1183px #FFF , 1842px 176px #FFF , 104px 402px #FFF , 1713px 279px #FFF , 838px 1951px #FFF , 1356px 1462px #FFF , 316px 1543px #FFF , 1041px 923px #FFF , 1566px 1364px #FFF , 1559px 128px #FFF , 1904px 766px #FFF , 1738px 1131px #FFF , 440px 1810px #FFF , 1176px 691px #FFF , 557px 783px #FFF , 1113px 1843px #FFF , 1297px 112px #FFF , 248px 1403px #FFF , 407px 866px #FFF , 761px 1535px #FFF , 81px 176px #FFF , 60px 377px #FFF , 1981px 1928px #FFF , 1689px 1259px #FFF , 413px 817px #FFF , 182px 748px #FFF , 930px 689px #FFF , 108px 1884px #FFF , 1355px 574px #FFF , 1778px 1871px #FFF , 533px 580px #FFF , 119px 1951px #FFF , 918px 1119px #FFF , 489px 1783px #FFF , 1657px 453px #FFF , 59px 1680px #FFF , 1872px 239px #FFF , 839px 1248px #FFF , 1595px 246px #FFF , 900px 301px #FFF , 377px 1657px #FFF , 390px 1563px #FFF , 141px 262px #FFF , 755px 635px #FFF , 305px 965px #FFF , 606px 679px #FFF , 1880px 1421px #FFF , 1804px 808px #FFF , 854px 1197px #FFF , 330px 1663px #FFF , 919px 1937px #FFF , 878px 1709px #FFF , 795px 1270px #FFF , 1359px 1109px #FFF , 236px 1015px #FFF , 1438px 875px #FFF , 261px 1347px #FFF , 36px 1061px #FFF , 821px 1566px #FFF , 885px 1134px #FFF , 1203px 713px #FFF , 279px 727px #FFF , 1764px 1165px #FFF , 1031px 1695px #FFF , 177px 1985px #FFF , 367px 1019px #FFF , 808px 1702px #FFF , 512px 1483px #FFF , 112px 1629px #FFF , 1090px 67px #FFF , 131px 1206px #FFF , 1436px 474px #FFF , 1975px 7px #FFF , 1484px 443px #FFF , 1219px 221px #FFF , 1889px 1956px #FFF , 643px 676px #FFF , 1142px 1282px #FFF , 1271px 841px #FFF , 1389px 751px #FFF , 502px 341px #FFF , 1511px 1791px #FFF , 130px 1809px #FFF , 1431px 1750px #FFF , 1794px 53px #FFF , 919px 1276px #FFF , 494px 1652px #FFF , 392px 345px #FFF , 1591px 1463px #FFF , 1257px 1576px #FFF , 33px 1579px #FFF , 1467px 492px #FFF , 917px 1169px #FFF , 1569px 1136px #FFF , 345px 69px #FFF , 52px 1411px #FFF , 1622px 161px #FFF , 115px 1913px #FFF , 1639px 142px #FFF , 1558px 625px #FFF , 813px 986px #FFF , 1202px 1237px #FFF , 765px 297px #FFF , 476px 488px #FFF , 1719px 385px #FFF , 1366px 1502px #FFF , 621px 961px #FFF , 1709px 531px #FFF , 396px 1138px #FFF , 1026px 362px #FFF , 1343px 172px #FFF , 1622px 882px #FFF , 405px 193px #FFF , 200px 851px #FFF , 323px 1716px #FFF , 1027px 1624px #FFF , 1603px 1717px #FFF , 570px 954px #FFF , 1410px 212px #FFF , 125px 219px #FFF , 556px 888px #FFF , 1798px 1180px #FFF , 1841px 337px #FFF , 919px 604px #FFF , 619px 1117px #FFF , 1275px 486px #FFF , 25px 202px #FFF , 1954px 14px #FFF , 426px 1913px #FFF , 1464px 45px #FFF , 159px 1425px #FFF , 1369px 823px #FFF , 1628px 1931px #FFF , 1652px 268px #FFF , 1568px 966px #FFF , 1270px 736px #FFF , 747px 776px #FFF , 562px 1595px #FFF , 72px 1833px #FFF , 150px 960px #FFF , 515px 1112px #FFF , 1149px 1540px #FFF , 1897px 1780px #FFF , 549px 1951px #FFF , 1440px 161px #FFF , 1576px 1930px #FFF , 11px 673px #FFF , 352px 980px #FFF , 110px 622px #FFF , 1593px 1957px #FFF , 316px 1578px #FFF , 1237px 775px #FFF , 19px 253px #FFF , 152px 1802px #FFF , 1952px 409px #FFF , 514px 200px #FFF , 547px 832px #FFF , 1473px 573px #FFF , 535px 717px #FFF , 1933px 1925px #FFF , 624px 1266px #FFF , 1794px 28px #FFF , 872px 339px #FFF , 1385px 1175px #FFF , 208px 1625px #FFF , 1198px 1808px #FFF , 1309px 417px #FFF , 1943px 1662px #FFF , 821px 1874px #FFF , 1622px 886px #FFF , 1189px 918px #FFF , 468px 243px #FFF , 1297px 10px #FFF , 1480px 1762px #FFF , 1040px 1575px #FFF , 1853px 818px #FFF , 633px 371px #FFF , 1257px 250px #FFF , 1545px 1111px #FFF , 881px 34px #FFF , 32px 1379px #FFF , 367px 1057px #FFF , 109px 760px #FFF , 1612px 872px #FFF , 884px 1315px #FFF , 1691px 799px #FFF , 71px 1261px #FFF , 958px 591px #FFF , 1501px 1485px #FFF , 425px 535px #FFF , 1484px 1352px #FFF , 239px 1050px #FFF , 142px 1943px #FFF , 1994px 212px #FFF , 193px 1445px #FFF , 426px 1203px #FFF , 147px 251px #FFF , 300px 1954px #FFF , 357px 26px #FFF , 386px 1627px #FFF , 380px 1693px #FFF , 985px 1792px #FFF , 946px 1433px #FFF , 1542px 1126px #FFF , 776px 512px #FFF , 891px 1340px #FFF , 851px 1293px #FFF , 115px 1740px #FFF , 767px 1255px #FFF , 90px 1782px #FFF , 1606px 856px #FFF , 939px 1431px #FFF , 1768px 919px #FFF , 21px 100px #FFF , 1464px 93px #FFF , 1905px 890px #FFF , 339px 431px #FFF , 904px 1092px #FFF , 1758px 1503px #FFF , 697px 258px #FFF , 1726px 1038px #FFF , 319px 1419px #FFF , 88px 927px #FFF , 1034px 983px #FFF , 447px 1261px #FFF , 1220px 1196px #FFF , 377px 1319px #FFF , 502px 800px #FFF , 328px 1113px #FFF , 1671px 1720px #FFF , 1873px 1846px #FFF , 254px 430px #FFF , 1672px 1604px #FFF , 1658px 1814px #FFF , 5px 1737px #FFF , 20px 1607px #FFF , 1797px 1541px #FFF , 53px 1516px #FFF , 987px 1385px #FFF , 355px 479px #FFF , 904px 1638px #FFF , 1388px 1651px #FFF , 1906px 1710px #FFF , 925px 324px #FFF , 1039px 1199px #FFF , 402px 319px #FFF , 1534px 931px #FFF , 1594px 1965px #FFF , 1955px 277px #FFF , 214px 1058px #FFF , 295px 1645px #FFF , 1796px 1608px #FFF , 536px 207px #FFF , 1733px 99px #FFF , 1623px 1379px #FFF , 1354px 1891px #FFF , 132px 76px #FFF , 157px 1072px #FFF , 1569px 758px #FFF , 707px 1761px #FFF , 400px 1201px #FFF , 951px 205px #FFF , 1353px 750px #FFF , 1140px 1628px #FFF , 626px 62px #FFF , 1600px 821px #FFF , 346px 185px #FFF , 1416px 1532px #FFF , 651px 1097px #FFF , 1550px 245px #FFF , 1920px 33px #FFF , 610px 417px #FFF , 108px 934px #FFF , 56px 1997px #FFF , 1424px 1641px #FFF , 1840px 1214px #FFF , 53px 1712px #FFF , 1796px 1255px #FFF , 1569px 1587px #FFF , 688px 517px #FFF , 1836px 1299px #FFF , 328px 1482px #FFF , 1844px 1816px #FFF , 747px 690px #FFF , 751px 837px #FFF , 1463px 1510px #FFF , 989px 918px #FFF , 267px 1572px #FFF , 525px 1453px #FFF , 950px 1093px #FFF , 1735px 86px #FFF , 1395px 369px #FFF , 1123px 1267px #FFF , 252px 1616px #FFF , 448px 613px #FFF , 1179px 1696px #FFF , 1499px 1221px #FFF , 50px 1710px #FFF , 1658px 662px #FFF , 449px 1380px #FFF , 1050px 922px #FFF , 1248px 1924px #FFF , 1686px 1423px #FFF , 585px 1414px #FFF , 1503px 1055px #FFF , 364px 831px #FFF , 1005px 350px #FFF , 87px 214px #FFF , 1960px 947px #FFF , 1340px 758px #FFF , 358px 1172px #FFF , 1593px 1314px #FFF , 1701px 219px #FFF , 343px 764px #FFF , 66px 962px #FFF , 681px 1258px #FFF , 1565px 1384px #FFF , 1530px 388px #FFF , 1782px 1005px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  z-index: 2;
  box-shadow: 1848px 9909px #FFF , 1239px 1965px #FFF , 442px 774px #FFF , 989px 266px #FFF , 1270px 367px #FFF , 1455px 809px #FFF , 362px 1289px #FFF , 326px 657px #FFF , 847px 1204px #FFF , 1750px 634px #FFF , 1782px 1433px #FFF , 1421px 773px #FFF , 626px 1234px #FFF , 5px 843px #FFF , 799px 346px #FFF , 1215px 1128px #FFF , 482px 1864px #FFF , 718px 1912px #FFF , 1005px 182px #FFF , 1595px 7px #FFF , 1788px 1782px #FFF , 1961px 1680px #FFF , 578px 978px #FFF , 910px 1051px #FFF , 1554px 616px #FFF , 1571px 138px #FFF , 1069px 1483px #FFF , 906px 179px #FFF , 1199px 1830px #FFF , 694px 869px #FFF , 1972px 915px #FFF , 207px 1432px #FFF , 141px 1103px #FFF , 1625px 801px #FFF , 1841px 1985px #FFF , 524px 364px #FFF , 394px 22px #FFF , 1056px 1534px #FFF , 638px 871px #FFF , 1656px 1578px #FFF , 885px 374px #FFF , 199px 1914px #FFF , 785px 642px #FFF , 1549px 10px #FFF , 1007px 1320px #FFF , 1126px 97px #FFF , 1416px 1430px #FFF , 1125px 1471px #FFF , 463px 895px #FFF , 332px 1836px #FFF , 798px 850px #FFF , 1979px 1271px #FFF , 985px 1408px #FFF , 1777px 459px #FFF , 683px 667px #FFF , 1086px 1526px #FFF , 1676px 1809px #FFF , 802px 1919px #FFF , 1700px 1826px #FFF , 1291px 1004px #FFF , 144px 445px #FFF , 1349px 1983px #FFF , 1544px 319px #FFF , 676px 1007px #FFF , 1432px 1708px #FFF , 80px 756px #FFF , 1134px 1155px #FFF , 300px 600px #FFF , 1757px 1159px #FFF , 1642px 329px #FFF , 406px 962px #FFF , 1933px 149px #FFF , 1136px 1829px #FFF , 1670px 225px #FFF , 1020px 591px #FFF , 714px 1444px #FFF , 1378px 1607px #FFF , 1032px 1183px #FFF , 1627px 1147px #FFF , 1378px 450px #FFF , 141px 867px #FFF , 754px 387px #FFF , 1348px 1764px #FFF , 941px 601px #FFF , 411px 817px #FFF , 1255px 885px #FFF , 347px 118px #FFF , 237px 202px #FFF , 528px 1550px #FFF , 616px 1148px #FFF , 353px 1047px #FFF , 1614px 1683px #FFF , 207px 1230px #FFF , 1929px 1405px #FFF , 276px 8px #FFF , 198px 218px #FFF , 1535px 169px #FFF , 929px 830px #FFF , 102px 1927px #FFF , 886px 847px #FFF , 1463px 1507px #FFF , 1015px 403px #FFF , 279px 1205px #FFF , 1225px 434px #FFF , 104px 800px #FFF , 29px 255px #FFF , 1130px 1214px #FFF , 405px 1014px #FFF , 938px 696px #FFF , 496px 909px #FFF , 1505px 485px #FFF , 714px 581px #FFF , 1464px 1219px #FFF , 1077px 974px #FFF , 90px 688px #FFF , 996px 722px #FFF , 1277px 1410px #FFF , 615px 462px #FFF , 1784px 1134px #FFF , 1596px 733px #FFF , 1548px 644px #FFF , 923px 42px #FFF , 649px 31px #FFF , 1279px 1709px #FFF , 1351px 438px #FFF , 59px 1913px #FFF , 664px 723px #FFF , 1240px 1173px #FFF , 255px 360px #FFF , 1561px 1845px #FFF , 1218px 106px #FFF , 82px 88px #FFF , 1098px 519px #FFF , 1914px 1120px #FFF , 1px 1829px #FFF , 1721px 1883px #FFF , 105px 842px #FFF , 1852px 698px #FFF , 947px 1249px #FFF , 700px 973px #FFF , 938px 1628px #FFF , 777px 278px #FFF , 294px 800px #FFF , 1223px 1583px #FFF , 309px 663px #FFF , 585px 1557px #FFF , 155px 642px #FFF , 1493px 1733px #FFF , 625px 462px #FFF , 1938px 1665px #FFF , 1151px 289px #FFF , 17px 1279px #FFF , 1170px 1522px #FFF , 930px 1735px #FFF , 90px 1102px #FFF , 1798px 1173px #FFF , 1858px 1378px #FFF , 1637px 725px #FFF , 1739px 486px #FFF , 1800px 1587px #FFF , 1820px 1954px #FFF , 1827px 566px #FFF , 1877px 584px #FFF , 612px 1827px #FFF , 1278px 1433px #FFF , 1594px 1091px #FFF , 1535px 1966px #FFF , 895px 312px #FFF , 250px 1639px #FFF , 828px 401px #FFF , 1256px 629px #FFF , 1339px 877px #FFF , 593px 1431px #FFF , 336px 19px #FFF , 380px 1512px #FFF , 1656px 1310px #FFF , 215px 1349px #FFF , 142px 327px #FFF , 1632px 1541px #FFF , 377px 405px #FFF , 1083px 29px #FFF , 113px 1138px #FFF , 878px 213px #FFF , 1198px 1381px #FFF , 844px 209px #FFF , 333px 957px #FFF , 924px 1400px #FFF , 1504px 1877px #FFF , 1767px 1731px #FFF , 1793px 1480px #FFF , 1573px 1393px #FFF , 633px 1697px #FFF , 88px 18px #FFF , 916px 1767px #FFF , 1249px 383px #FFF , 1761px 1414px #FFF , 431px 379px #FFF , 1329px 516px #FFF , 1749px 1544px #FFF , 121px 1419px #FFF;
  border-radius: 50%;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    z-index: 2;
    box-shadow: 1848px 9909px #FFF , 1239px 1965px #FFF , 442px 774px #FFF , 989px 266px #FFF , 1270px 367px #FFF , 1455px 809px #FFF , 362px 1289px #FFF , 326px 657px #FFF , 847px 1204px #FFF , 1750px 634px #FFF , 1782px 1433px #FFF , 1421px 773px #FFF , 626px 1234px #FFF , 5px 843px #FFF , 799px 346px #FFF , 1215px 1128px #FFF , 482px 1864px #FFF , 718px 1912px #FFF , 1005px 182px #FFF , 1595px 7px #FFF , 1788px 1782px #FFF , 1961px 1680px #FFF , 578px 978px #FFF , 910px 1051px #FFF , 1554px 616px #FFF , 1571px 138px #FFF , 1069px 1483px #FFF , 906px 179px #FFF , 1199px 1830px #FFF , 694px 869px #FFF , 1972px 915px #FFF , 207px 1432px #FFF , 141px 1103px #FFF , 1625px 801px #FFF , 1841px 1985px #FFF , 524px 364px #FFF , 394px 22px #FFF , 1056px 1534px #FFF , 638px 871px #FFF , 1656px 1578px #FFF , 885px 374px #FFF , 199px 1914px #FFF , 785px 642px #FFF , 1549px 10px #FFF , 1007px 1320px #FFF , 1126px 97px #FFF , 1416px 1430px #FFF , 1125px 1471px #FFF , 463px 895px #FFF , 332px 1836px #FFF , 798px 850px #FFF , 1979px 1271px #FFF , 985px 1408px #FFF , 1777px 459px #FFF , 683px 667px #FFF , 1086px 1526px #FFF , 1676px 1809px #FFF , 802px 1919px #FFF , 1700px 1826px #FFF , 1291px 1004px #FFF , 144px 445px #FFF , 1349px 1983px #FFF , 1544px 319px #FFF , 676px 1007px #FFF , 1432px 1708px #FFF , 80px 756px #FFF , 1134px 1155px #FFF , 300px 600px #FFF , 1757px 1159px #FFF , 1642px 329px #FFF , 406px 962px #FFF , 1933px 149px #FFF , 1136px 1829px #FFF , 1670px 225px #FFF , 1020px 591px #FFF , 714px 1444px #FFF , 1378px 1607px #FFF , 1032px 1183px #FFF , 1627px 1147px #FFF , 1378px 450px #FFF , 141px 867px #FFF , 754px 387px #FFF , 1348px 1764px #FFF , 941px 601px #FFF , 411px 817px #FFF , 1255px 885px #FFF , 347px 118px #FFF , 237px 202px #FFF , 528px 1550px #FFF , 616px 1148px #FFF , 353px 1047px #FFF , 1614px 1683px #FFF , 207px 1230px #FFF , 1929px 1405px #FFF , 276px 8px #FFF , 198px 218px #FFF , 1535px 169px #FFF , 929px 830px #FFF , 102px 1927px #FFF , 886px 847px #FFF , 1463px 1507px #FFF , 1015px 403px #FFF , 279px 1205px #FFF , 1225px 434px #FFF , 104px 800px #FFF , 29px 255px #FFF , 1130px 1214px #FFF , 405px 1014px #FFF , 938px 696px #FFF , 496px 909px #FFF , 1505px 485px #FFF , 714px 581px #FFF , 1464px 1219px #FFF , 1077px 974px #FFF , 90px 688px #FFF , 996px 722px #FFF , 1277px 1410px #FFF , 615px 462px #FFF , 1784px 1134px #FFF , 1596px 733px #FFF , 1548px 644px #FFF , 923px 42px #FFF , 649px 31px #FFF , 1279px 1709px #FFF , 1351px 438px #FFF , 59px 1913px #FFF , 664px 723px #FFF , 1240px 1173px #FFF , 255px 360px #FFF , 1561px 1845px #FFF , 1218px 106px #FFF , 82px 88px #FFF , 1098px 519px #FFF , 1914px 1120px #FFF , 1px 1829px #FFF , 1721px 1883px #FFF , 105px 842px #FFF , 1852px 698px #FFF , 947px 1249px #FFF , 700px 973px #FFF , 938px 1628px #FFF , 777px 278px #FFF , 294px 800px #FFF , 1223px 1583px #FFF , 309px 663px #FFF , 585px 1557px #FFF , 155px 642px #FFF , 1493px 1733px #FFF , 625px 462px #FFF , 1938px 1665px #FFF , 1151px 289px #FFF , 17px 1279px #FFF , 1170px 1522px #FFF , 930px 1735px #FFF , 90px 1102px #FFF , 1798px 1173px #FFF , 1858px 1378px #FFF , 1637px 725px #FFF , 1739px 486px #FFF , 1800px 1587px #FFF , 1820px 1954px #FFF , 1827px 566px #FFF , 1877px 584px #FFF , 612px 1827px #FFF , 1278px 1433px #FFF , 1594px 1091px #FFF , 1535px 1966px #FFF , 895px 312px #FFF , 250px 1639px #FFF , 828px 401px #FFF , 1256px 629px #FFF , 1339px 877px #FFF , 593px 1431px #FFF , 336px 19px #FFF , 380px 1512px #FFF , 1656px 1310px #FFF , 215px 1349px #FFF , 142px 327px #FFF , 1632px 1541px #FFF , 377px 405px #FFF , 1083px 29px #FFF , 113px 1138px #FFF , 878px 213px #FFF , 1198px 1381px #FFF , 844px 209px #FFF , 333px 957px #FFF , 924px 1400px #FFF , 1504px 1877px #FFF , 1767px 1731px #FFF , 1793px 1480px #FFF , 1573px 1393px #FFF , 633px 1697px #FFF , 88px 18px #FFF , 916px 1767px #FFF , 1249px 383px #FFF , 1761px 1414px #FFF , 431px 379px #FFF , 1329px 516px #FFF , 1749px 1544px #FFF , 121px 1419px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1574px 13019px #FFF , 837px 1128px #FFF , 1483px 1071px #FFF , 1991px 124px #FFF , 1961px 400px #FFF , 1965px 296px #FFF , 1909px 1079px #FFF , 152px 1023px #FFF , 1844px 1074px #FFF , 1607px 308px #FFF , 394px 450px #FFF , 930px 1650px #FFF , 239px 956px #FFF , 345px 408px #FFF , 688px 1734px #FFF , 1390px 634px #FFF , 763px 1259px #FFF , 816px 197px #FFF , 291px 1390px #FFF , 1542px 1238px #FFF , 1484px 1052px #FFF , 1260px 1337px #FFF , 869px 779px #FFF , 1585px 1122px #FFF , 1629px 1474px #FFF , 1078px 61px #FFF , 536px 1629px #FFF , 1446px 60px #FFF , 60px 1108px #FFF , 1868px 1655px #FFF , 606px 870px #FFF , 1969px 1002px #FFF , 386px 1361px #FFF , 223px 751px #FFF , 1808px 1110px #FFF , 526px 727px #FFF , 645px 1563px #FFF , 1477px 1309px #FFF , 29px 1856px #FFF , 1977px 792px #FFF , 775px 1212px #FFF , 828px 947px #FFF , 422px 1427px #FFF , 1816px 320px #FFF , 1429px 332px #FFF , 1976px 284px #FFF , 655px 490px #FFF , 1458px 415px #FFF , 1070px 167px #FFF , 1325px 411px #FFF , 677px 787px #FFF , 1976px 1609px #FFF , 658px 192px #FFF , 397px 216px #FFF , 1531px 569px #FFF , 898px 514px #FFF , 1703px 61px #FFF , 392px 407px #FFF , 1791px 1311px #FFF , 1135px 21px #FFF , 1223px 1588px #FFF , 1439px 1263px #FFF , 1013px 629px #FFF , 526px 1048px #FFF , 1427px 1221px #FFF , 660px 804px #FFF , 195px 1381px #FFF , 1166px 672px #FFF , 61px 776px #FFF , 569px 549px #FFF , 128px 34px #FFF , 398px 399px #FFF , 852px 434px #FFF , 907px 1203px #FFF , 525px 1648px #FFF , 1134px 662px #FFF , 559px 1105px #FFF , 1221px 839px #FFF , 1896px 1181px #FFF , 708px 391px #FFF , 1542px 869px #FFF , 595px 1209px #FFF , 520px 1533px #FFF , 395px 961px #FFF , 720px 460px #FFF , 1885px 336px #FFF , 1809px 969px #FFF , 1659px 1177px #FFF , 1941px 283px #FFF , 868px 1036px #FFF , 1543px 1636px #FFF , 954px 912px #FFF , 20px 785px #FFF , 1363px 866px #FFF , 1483px 921px #FFF , 1408px 285px #FFF , 824px 660px #FFF , 406px 1085px #FFF , 394px 1197px #FFF , 1857px 1998px #FFF;
  z-index: 2;
  border-radius: 50%;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    z-index: 2;
    background: transparent;
    box-shadow: 1574px 13019px #FFF , 837px 1128px #FFF , 1483px 1071px #FFF , 1991px 124px #FFF , 1961px 400px #FFF , 1965px 296px #FFF , 1909px 1079px #FFF , 152px 1023px #FFF , 1844px 1074px #FFF , 1607px 308px #FFF , 394px 450px #FFF , 930px 1650px #FFF , 239px 956px #FFF , 345px 408px #FFF , 688px 1734px #FFF , 1390px 634px #FFF , 763px 1259px #FFF , 816px 197px #FFF , 291px 1390px #FFF , 1542px 1238px #FFF , 1484px 1052px #FFF , 1260px 1337px #FFF , 869px 779px #FFF , 1585px 1122px #FFF , 1629px 1474px #FFF , 1078px 61px #FFF , 536px 1629px #FFF , 1446px 60px #FFF , 60px 1108px #FFF , 1868px 1655px #FFF , 606px 870px #FFF , 1969px 1002px #FFF , 386px 1361px #FFF , 223px 751px #FFF , 1808px 1110px #FFF , 526px 727px #FFF , 645px 1563px #FFF , 1477px 1309px #FFF , 29px 1856px #FFF , 1977px 792px #FFF , 775px 1212px #FFF , 828px 947px #FFF , 422px 1427px #FFF , 1816px 320px #FFF , 1429px 332px #FFF , 1976px 284px #FFF , 655px 490px #FFF , 1458px 415px #FFF , 1070px 167px #FFF , 1325px 411px #FFF , 677px 787px #FFF , 1976px 1609px #FFF , 658px 192px #FFF , 397px 216px #FFF , 1531px 569px #FFF , 898px 514px #FFF , 1703px 61px #FFF , 392px 407px #FFF , 1791px 1311px #FFF , 1135px 21px #FFF , 1223px 1588px #FFF , 1439px 1263px #FFF , 1013px 629px #FFF , 526px 1048px #FFF , 1427px 1221px #FFF , 660px 804px #FFF , 195px 1381px #FFF , 1166px 672px #FFF , 61px 776px #FFF , 569px 549px #FFF , 128px 34px #FFF , 398px 399px #FFF , 852px 434px #FFF , 907px 1203px #FFF , 525px 1648px #FFF , 1134px 662px #FFF , 559px 1105px #FFF , 1221px 839px #FFF , 1896px 1181px #FFF , 708px 391px #FFF , 1542px 869px #FFF , 595px 1209px #FFF , 520px 1533px #FFF , 395px 961px #FFF , 720px 460px #FFF , 1885px 336px #FFF , 1809px 969px #FFF , 1659px 1177px #FFF , 1941px 283px #FFF , 868px 1036px #FFF , 1543px 1636px #FFF , 954px 912px #FFF , 20px 785px #FFF , 1363px 866px #FFF , 1483px 921px #FFF , 1408px 285px #FFF , 824px 660px #FFF , 406px 1085px #FFF , 394px 1197px #FFF , 1857px 1998px #FFF; }

/****background stars*****/
/*Here is animation*/
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
@-webkit-keyframes rainbow {
  0% {
    fill: #ff0400; }
  13% {
    fill: #ffbf00; }
  25% {
    fill: #80ff00; }
  38% {
    fill: #00ff40; }
  50% {
    fill: cyan; }
  63% {
    fill: #0040ff; }
  75% {
    fill: #8000ff; }
  88% {
    fill: #ff00bf; }
  100% {
    fill: red; } }
@-webkit-keyframes textrainbow {
  0% {
    color: #ff0400; }
  13% {
    color: #ffbf00; }
  25% {
    color: #80ff00; }
  38% {
    color: #00ff40; }
  50% {
    color: cyan; }
  63% {
    color: #0040ff; }
  75% {
    color: #8000ff; }
  88% {
    color: #ff00bf; }
  100% {
    color: red; } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
