/***** background stars *****/
/***** background stars *****/
html, body {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden; }

body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: white;
  overflow: hidden;
}

/*Here is for the elements*/

@-webkit-keyframes rainbow {
  0% {
    fill: hsl(1, 100%, 50%);
  }
  13% {
    fill: hsl(45, 100%, 50%);
  }
  25% {
    fill: hsl(90, 100%, 50%);
  }
  38% {
    fill: hsl(135, 100%, 50%);
  }
  50% {
    fill: hsl(180, 100%, 50%);
  }
  63% {
    fill: hsl(225, 100%, 50%);
  }
  75% {
    fill: hsl(270, 100%, 50%);
  }
  88% {
    fill: hsl(315, 100%, 50%);
  }
  100% {
    fill: hsl(360, 100%, 50%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  position: fixed;
  padding-top: 40px;
  padding-left: 40px;
  width: 150px;
  z-index: 10;
  transition: all 0.5s ease-in-out; }
  .logo:hover {
    transform: scale(0.95); }

.svg:hover {
  z-index: 10;
  fill: linear-gradient(270deg, #28e0b0, #c328e0, #28a1e0, #e0286b);
  -webkit-animation: rainbow 5s infinite alternate; }

/*****style for 1st version of rotation container***********/
.galaxy {
  position: fixed;
  z-index: 1;
  justify-content: center;
  /* For horizontal alignment */
  align-items: center;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  border: 2px solid #73ad21; }

.solar-syst {
  position: absolute;
  top: 13vh;
  left: 40%;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  -webkit-transform-origin: 30vh 30vh;
  animation: spin 30s linear infinite;
  /*hover stop the spin*/ }
  .solar-syst:hover {
    animation-name: none; }
  .solar-syst .planet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vh;
    height: 30vh;
    background: grey;
    border-radius: 50%;
    z-index: 80;
    -webkit-transform: translate(-50%, -50%); }
    .solar-syst .planet:not(.sun) {
      position: relative;
      width: 12vh;
      height: 12vh;
      background: #ff8700;
      z-index: -20; }
    .solar-syst .planet:not(.planet_one) {
      position: absolute; }
    .solar-syst .planet img {
      width: 90%;
      height: auto;
      text-align: center;
      align: center;
      justify-content: center;
      -webkit-transform: translate(5%, 5%);
      border-radius: 50%; }
    .solar-syst .planet .content {
      position: absolute;
      top: 100%;
      text-align: center;
      justify-content: center;
      z-index: 10; }
  .solar-syst .planet_one {
    transform: rotate(0deg) translate(40vh) rotate(0deg); }
  .solar-syst .planet_two {
    transform: rotate(36deg) translate(40vh) rotate(-36deg); }
  .solar-syst .planet_three {
    transform: rotate(72deg) translate(40vh) rotate(-72deg); }
  .solar-syst .planet_four {
    transform: rotate(108deg) translate(40vh) rotate(-108deg); }
  .solar-syst .planet_five {
    transform: rotate(144deg) translate(40vh) rotate(-144deg); }
  .solar-syst .planet_six {
    transform: rotate(180deg) translate(40vh) rotate(-180deg); }
  .solar-syst .planet_seven {
    transform: rotate(216deg) translate(40vh) rotate(-216deg); }
  .solar-syst .planet_eight {
    transform: rotate(252deg) translate(40vh) rotate(-252deg); }
  .solar-syst .planet_nine {
    transform: rotate(288deg) translate(40vh) rotate(-288deg); }
  .solar-syst .planet_ten {
    transform: rotate(324deg) translate(40vh) rotate(-324deg); }
  .solar-syst .sun {
    transform: rotate(36deg) translate(-15vh) rotate(-36deg); }

/**********************r***********/
/*****style for 2nd version of rotation container***********/
*, *::after, *::before {
  box-sizing: border-box; }

.wrapper {
  position: fixed;
  z-index: 1;
  justify-content: center;
  /* For horizontal alignment */
  align-items: center;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  border: 2px solid #73ad21; }
  .wrapper .circle {
    position: absolute;
    top: 10vh;
    left: 40%;
    width: 70vh;
    height: 70vh;
  /* background: green;  */}
    .wrapper .circle:hover > div {
      animation-play-state: paused; }
    .wrapper .circle .circle_holder {
      width: 50vh;
      height: 50vh;
      border-radius: 50%;
      /* background: blue; */
      position: relative;
      top: 10vh;
      left: 10vh; }
    .wrapper .circle .flakeWrapper {
      height: 100%;
      width: 10vh;
      position: absolute;
      top: 0;
      left: 30vh;
      transform: translate3d(0, 0, 0);
      z-index: 1; }
      .wrapper .circle .flakeWrapper .flake {
        width: 10vh;
        height: 10vh;
        border-radius: 50%; }
        .wrapper .circle .flakeWrapper .flake img {
          width: 90%;
          height: auto;
          text-align: center;
          align: center;
          justify-content: center;
          -webkit-transform: translate(5%, 5%);
          border-radius: 50%; }
        .wrapper .circle .flakeWrapper .flake .content {
          top: 100%;
          text-align: center;
          justify-content: center;
          z-index: 10; }

@keyframes flake-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(36deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(396deg); } }
.flakeWrapper--1 {
  animation: flake-1 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--1 .flake {
    margin: 2px;
    width: 6vh;
    height: 6vh;
    opacity: 1;
    background-color: #F39C12; }

@keyframes flake-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(72deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(432deg); } }
.flakeWrapper--2 {
  animation: flake-2 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--2 .flake {
    margin: 7px;
    width: -4vh;
    height: -4vh;
    opacity: 1;
    background-color: #F1C40F; }

@keyframes flake-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(108deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(468deg); } }
.flakeWrapper--3 {
  animation: flake-3 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--3 .flake {
    margin: 4px;
    width: 2vh;
    height: 2vh;
    opacity: 1;
    background-color: #F39C12; }

@keyframes flake-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(144deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(504deg); } }
.flakeWrapper--4 {
  animation: flake-4 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--4 .flake {
    margin: 10px;
    width: -10vh;
    height: -10vh;
    opacity: 1;
    background-color: #E74C3C; }

@keyframes flake-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(180deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(540deg); } }
.flakeWrapper--5 {
  animation: flake-5 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--5 .flake {
    margin: 7px;
    width: -4vh;
    height: -4vh;
    opacity: 1;
    background-color: #E74C3C; }

@keyframes flake-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(216deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(576deg); } }
.flakeWrapper--6 {
  animation: flake-6 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--6 .flake {
    margin: 3px;
    width: 4vh;
    height: 4vh;
    opacity: 1;
    background-color: #2ECC71; }

@keyframes flake-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(252deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(612deg); } }
.flakeWrapper--7 {
  animation: flake-7 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--7 .flake {
    margin: 3px;
    width: 4vh;
    height: 4vh;
    opacity: 1;
    background-color: #F1C40F; }

@keyframes flake-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(288deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(648deg); } }
.flakeWrapper--8 {
  animation: flake-8 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--8 .flake {
    margin: 7px;
    width: -4vh;
    height: -4vh;
    opacity: 1;
    background-color: #3498DB; }

@keyframes flake-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(324deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(684deg); } }
.flakeWrapper--9 {
  animation: flake-9 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--9 .flake {
    margin: 5px;
    width: 0vh;
    height: 0vh;
    opacity: 1;
    background-color: #F39C12; }

@keyframes flake-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(360deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg); } }
.flakeWrapper--10 {
  animation: flake-10 15s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--10 .flake {
    margin: 10px;
    width: -10vh;
    height: -10vh;
    opacity: 1;
    background-color: #2ECC71; }

/****background stars*****/
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1807px 2245px #FFF , 1817px 1338px #FFF , 1527px 1159px #FFF , 1317px 1247px #FFF , 1091px 1440px #FFF , 246px 1667px #FFF , 477px 1054px #FFF , 1939px 1881px #FFF , 1289px 1235px #FFF , 1571px 693px #FFF , 819px 4px #FFF , 859px 41px #FFF , 1380px 236px #FFF , 1904px 149px #FFF , 948px 86px #FFF , 1720px 1675px #FFF , 467px 1144px #FFF , 824px 1391px #FFF , 1273px 270px #FFF , 1808px 1926px #FFF , 795px 1040px #FFF , 1978px 1715px #FFF , 968px 184px #FFF , 1478px 591px #FFF , 1988px 1332px #FFF , 1993px 581px #FFF , 307px 1977px #FFF , 169px 278px #FFF , 267px 267px #FFF , 538px 526px #FFF , 242px 1909px #FFF , 1732px 688px #FFF , 431px 1826px #FFF , 1654px 991px #FFF , 1467px 1166px #FFF , 754px 1342px #FFF , 1705px 1002px #FFF , 1011px 1550px #FFF , 1870px 424px #FFF , 1022px 1888px #FFF , 989px 1772px #FFF , 65px 1597px #FFF , 1816px 355px #FFF , 4px 1024px #FFF , 349px 604px #FFF , 550px 1540px #FFF , 845px 1983px #FFF , 10px 1726px #FFF , 1973px 809px #FFF , 687px 743px #FFF , 888px 1376px #FFF , 1374px 1574px #FFF , 557px 375px #FFF , 10px 1470px #FFF , 721px 52px #FFF , 1046px 286px #FFF , 67px 298px #FFF , 1296px 1130px #FFF , 648px 96px #FFF , 1617px 1635px #FFF , 1574px 854px #FFF , 789px 134px #FFF , 1840px 1480px #FFF , 42px 897px #FFF , 634px 724px #FFF , 874px 619px #FFF , 275px 167px #FFF , 796px 1082px #FFF , 1062px 1346px #FFF , 99px 503px #FFF , 1171px 1989px #FFF , 345px 1311px #FFF , 563px 1996px #FFF , 1894px 793px #FFF , 397px 445px #FFF , 1451px 81px #FFF , 873px 284px #FFF , 218px 312px #FFF , 1049px 1390px #FFF , 1501px 508px #FFF , 851px 1862px #FFF , 734px 1860px #FFF , 537px 1063px #FFF , 1049px 910px #FFF , 487px 38px #FFF , 348px 402px #FFF , 552px 890px #FFF , 53px 1169px #FFF , 1793px 305px #FFF , 1076px 1615px #FFF , 793px 1428px #FFF , 353px 165px #FFF , 670px 1340px #FFF , 1521px 1961px #FFF , 399px 1818px #FFF , 996px 529px #FFF , 5px 195px #FFF , 1814px 345px #FFF , 1792px 351px #FFF , 336px 24px #FFF , 1999px 1610px #FFF , 1969px 1658px #FFF , 1380px 1605px #FFF , 1560px 1223px #FFF , 1853px 1942px #FFF , 577px 1811px #FFF , 351px 608px #FFF , 118px 1405px #FFF , 1730px 387px #FFF , 1487px 1165px #FFF , 779px 1240px #FFF , 594px 619px #FFF , 42px 562px #FFF , 1164px 799px #FFF , 1171px 1210px #FFF , 1645px 1712px #FFF , 1900px 1935px #FFF , 918px 253px #FFF , 1734px 790px #FFF , 421px 835px #FFF , 438px 1641px #FFF , 201px 1074px #FFF , 1644px 611px #FFF , 1828px 1527px #FFF , 1432px 1876px #FFF , 1646px 1945px #FFF , 224px 440px #FFF , 1891px 1459px #FFF , 120px 1725px #FFF , 1890px 1875px #FFF , 1885px 64px #FFF , 1459px 950px #FFF , 1651px 1709px #FFF , 553px 1942px #FFF , 1281px 1310px #FFF , 591px 1746px #FFF , 1608px 5px #FFF , 554px 1395px #FFF , 1137px 747px #FFF , 734px 1203px #FFF , 333px 1134px #FFF , 1153px 1438px #FFF , 203px 83px #FFF , 405px 860px #FFF , 326px 1894px #FFF , 1232px 1709px #FFF , 1090px 29px #FFF , 404px 1125px #FFF , 296px 1634px #FFF , 1121px 1685px #FFF , 1390px 1085px #FFF , 374px 301px #FFF , 1399px 488px #FFF , 1008px 428px #FFF , 1068px 1690px #FFF , 107px 1267px #FFF , 779px 276px #FFF , 15px 161px #FFF , 1774px 72px #FFF , 861px 1533px #FFF , 1254px 944px #FFF , 889px 1447px #FFF , 607px 1902px #FFF , 1044px 1635px #FFF , 1332px 470px #FFF , 1668px 1558px #FFF , 565px 112px #FFF , 117px 1664px #FFF , 492px 1694px #FFF , 92px 219px #FFF , 1927px 764px #FFF , 621px 1946px #FFF , 1612px 1144px #FFF , 224px 1658px #FFF , 1239px 1224px #FFF , 1847px 450px #FFF , 798px 506px #FFF , 1426px 1393px #FFF , 1424px 1242px #FFF , 1709px 253px #FFF , 941px 909px #FFF , 22px 200px #FFF , 808px 238px #FFF , 747px 1854px #FFF , 582px 672px #FFF , 1004px 1670px #FFF , 210px 644px #FFF , 550px 1673px #FFF , 713px 1797px #FFF , 1676px 1972px #FFF , 389px 1296px #FFF , 1165px 315px #FFF , 114px 1366px #FFF , 250px 1158px #FFF , 1974px 725px #FFF , 521px 59px #FFF , 492px 1562px #FFF , 718px 349px #FFF , 1924px 1071px #FFF , 869px 504px #FFF , 47px 698px #FFF , 1995px 1754px #FFF , 1831px 677px #FFF , 669px 747px #FFF , 588px 348px #FFF , 983px 353px #FFF , 1663px 1848px #FFF , 398px 245px #FFF , 1830px 1447px #FFF , 1514px 203px #FFF , 1750px 1257px #FFF , 1085px 1967px #FFF , 1440px 17px #FFF , 1438px 716px #FFF , 862px 948px #FFF , 1583px 1769px #FFF , 503px 262px #FFF , 738px 920px #FFF , 674px 520px #FFF , 401px 1740px #FFF , 1857px 1336px #FFF , 1987px 343px #FFF , 1172px 977px #FFF , 1271px 789px #FFF , 1688px 1060px #FFF , 885px 403px #FFF , 1354px 1300px #FFF , 1373px 313px #FFF , 953px 833px #FFF , 1085px 1576px #FFF , 1717px 1507px #FFF , 261px 1213px #FFF , 440px 1914px #FFF , 1874px 793px #FFF , 869px 78px #FFF , 656px 361px #FFF , 1253px 1446px #FFF , 1286px 921px #FFF , 1081px 820px #FFF , 1896px 1689px #FFF , 810px 1741px #FFF , 1468px 35px #FFF , 847px 644px #FFF , 679px 1826px #FFF , 1142px 693px #FFF , 1384px 358px #FFF , 1301px 1662px #FFF , 568px 401px #FFF , 1919px 1465px #FFF , 285px 1005px #FFF , 1049px 1997px #FFF , 494px 1882px #FFF , 315px 622px #FFF , 234px 331px #FFF , 1048px 1327px #FFF , 42px 316px #FFF , 1517px 1177px #FFF , 590px 1466px #FFF , 1841px 1649px #FFF , 1133px 1153px #FFF , 1356px 19px #FFF , 1324px 1693px #FFF , 937px 864px #FFF , 1377px 686px #FFF , 345px 1121px #FFF , 1968px 996px #FFF , 461px 1159px #FFF , 1300px 403px #FFF , 1367px 1716px #FFF , 1032px 869px #FFF , 1451px 1422px #FFF , 1093px 67px #FFF , 393px 1627px #FFF , 728px 1808px #FFF , 1360px 1204px #FFF , 349px 759px #FFF , 357px 675px #FFF , 1495px 1736px #FFF , 523px 59px #FFF , 857px 1149px #FFF , 1957px 11px #FFF , 284px 1135px #FFF , 1320px 429px #FFF , 1498px 930px #FFF , 1737px 432px #FFF , 130px 1275px #FFF , 1216px 373px #FFF , 718px 1283px #FFF , 1386px 758px #FFF , 1516px 1048px #FFF , 1349px 366px #FFF , 1048px 1131px #FFF , 1673px 1367px #FFF , 875px 766px #FFF , 925px 1837px #FFF , 949px 286px #FFF , 244px 643px #FFF , 1534px 204px #FFF , 267px 1897px #FFF , 266px 986px #FFF , 236px 1924px #FFF , 129px 727px #FFF , 1535px 1498px #FFF , 1199px 726px #FFF , 171px 1632px #FFF , 1205px 1417px #FFF , 1888px 1869px #FFF , 1841px 1330px #FFF , 1727px 834px #FFF , 1493px 273px #FFF , 857px 989px #FFF , 1763px 1430px #FFF , 1609px 1240px #FFF , 1852px 1598px #FFF , 1303px 1316px #FFF , 275px 367px #FFF , 1625px 1704px #FFF , 415px 1340px #FFF , 289px 1837px #FFF , 185px 116px #FFF , 292px 1904px #FFF , 520px 1512px #FFF , 794px 1802px #FFF , 164px 757px #FFF , 630px 1697px #FFF , 1194px 1264px #FFF , 1491px 975px #FFF , 1234px 845px #FFF , 1282px 668px #FFF , 483px 1867px #FFF , 185px 793px #FFF , 1848px 1839px #FFF , 1715px 675px #FFF , 248px 1105px #FFF , 1084px 1650px #FFF , 1856px 1285px #FFF , 529px 941px #FFF , 1251px 502px #FFF , 1415px 1461px #FFF , 325px 202px #FFF , 1561px 478px #FFF , 886px 1702px #FFF , 1620px 131px #FFF , 1898px 1468px #FFF , 192px 700px #FFF , 977px 175px #FFF , 377px 1549px #FFF , 770px 182px #FFF , 592px 328px #FFF , 1581px 1329px #FFF , 1533px 24px #FFF , 226px 1276px #FFF , 1891px 1184px #FFF , 597px 475px #FFF , 704px 1722px #FFF , 74px 1692px #FFF , 726px 1346px #FFF , 1271px 69px #FFF , 905px 160px #FFF , 994px 135px #FFF , 1947px 605px #FFF , 547px 112px #FFF , 220px 32px #FFF , 650px 532px #FFF , 1723px 648px #FFF , 1253px 305px #FFF , 130px 606px #FFF , 1516px 183px #FFF , 1645px 1406px #FFF , 1254px 1286px #FFF , 1242px 961px #FFF , 1808px 315px #FFF , 508px 1940px #FFF , 358px 1886px #FFF , 1583px 1983px #FFF , 1234px 1125px #FFF , 113px 1292px #FFF , 600px 1463px #FFF , 151px 65px #FFF , 147px 781px #FFF , 957px 267px #FFF , 580px 919px #FFF , 1124px 1709px #FFF , 860px 1916px #FFF , 450px 466px #FFF , 1423px 794px #FFF , 1865px 1150px #FFF , 1518px 1252px #FFF , 1670px 1052px #FFF , 963px 566px #FFF , 1204px 1528px #FFF , 247px 1259px #FFF , 1184px 1059px #FFF , 478px 1445px #FFF , 827px 1701px #FFF , 816px 226px #FFF , 1001px 460px #FFF , 331px 1868px #FFF , 709px 385px #FFF , 669px 811px #FFF , 1854px 168px #FFF , 1976px 1334px #FFF , 1781px 320px #FFF , 576px 231px #FFF , 1875px 445px #FFF , 1719px 883px #FFF , 1992px 1157px #FFF , 505px 1748px #FFF , 280px 1431px #FFF , 1094px 451px #FFF , 753px 660px #FFF , 88px 356px #FFF , 1303px 980px #FFF , 431px 670px #FFF , 531px 266px #FFF , 187px 254px #FFF , 797px 404px #FFF , 493px 1624px #FFF , 541px 1611px #FFF , 352px 95px #FFF , 1034px 448px #FFF , 44px 921px #FFF , 1673px 965px #FFF , 911px 1168px #FFF , 1211px 1442px #FFF , 739px 680px #FFF , 1889px 719px #FFF , 1317px 112px #FFF , 1214px 932px #FFF , 618px 715px #FFF , 1225px 1589px #FFF , 1330px 620px #FFF , 100px 779px #FFF , 672px 365px #FFF , 1281px 296px #FFF , 1431px 188px #FFF , 1989px 650px #FFF , 735px 1353px #FFF , 750px 549px #FFF , 778px 1784px #FFF , 299px 172px #FFF , 487px 1921px #FFF , 467px 1913px #FFF , 1515px 847px #FFF , 1424px 1849px #FFF , 1086px 590px #FFF , 1198px 1504px #FFF , 1284px 54px #FFF , 1247px 805px #FFF , 1259px 1290px #FFF , 988px 380px #FFF , 685px 733px #FFF , 1839px 339px #FFF , 972px 1602px #FFF , 868px 1907px #FFF , 385px 1561px #FFF , 328px 333px #FFF , 1296px 1702px #FFF , 1705px 16px #FFF , 1686px 1941px #FFF , 1977px 937px #FFF , 1801px 1318px #FFF , 1787px 1642px #FFF , 1231px 212px #FFF , 1479px 748px #FFF , 685px 1908px #FFF , 951px 246px #FFF , 1582px 1256px #FFF , 1108px 1574px #FFF , 77px 693px #FFF , 1767px 1550px #FFF , 1373px 486px #FFF , 1798px 25px #FFF , 640px 1720px #FFF , 479px 1134px #FFF , 1444px 1270px #FFF , 1860px 918px #FFF , 360px 1663px #FFF , 1281px 494px #FFF , 319px 1795px #FFF , 948px 1558px #FFF , 1438px 593px #FFF , 531px 1509px #FFF , 861px 1358px #FFF , 326px 450px #FFF , 727px 1818px #FFF , 1609px 1749px #FFF , 546px 750px #FFF , 616px 102px #FFF , 692px 1584px #FFF , 119px 1344px #FFF , 1726px 1820px #FFF , 19px 1122px #FFF , 1315px 441px #FFF , 1462px 1279px #FFF , 1516px 719px #FFF , 432px 1807px #FFF , 1589px 1404px #FFF , 1801px 1412px #FFF , 1953px 1916px #FFF , 229px 3px #FFF , 905px 577px #FFF , 678px 1965px #FFF , 72px 82px #FFF , 729px 1100px #FFF , 687px 442px #FFF , 745px 1038px #FFF , 1592px 17px #FFF , 260px 879px #FFF , 340px 1035px #FFF , 1560px 1420px #FFF , 670px 900px #FFF , 1112px 1904px #FFF , 1302px 403px #FFF , 21px 820px #FFF , 690px 1417px #FFF , 1177px 121px #FFF , 994px 1736px #FFF , 657px 982px #FFF , 52px 381px #FFF , 1993px 1922px #FFF , 1331px 1898px #FFF , 607px 1523px #FFF , 439px 991px #FFF , 1528px 602px #FFF , 138px 147px #FFF , 123px 1597px #FFF , 244px 379px #FFF , 972px 932px #FFF , 457px 1408px #FFF , 1091px 100px #FFF , 1724px 1071px #FFF , 1130px 503px #FFF , 878px 1394px #FFF , 1546px 886px #FFF , 913px 1926px #FFF , 1869px 1093px #FFF , 1984px 1021px #FFF , 1005px 44px #FFF , 1925px 1334px #FFF , 487px 182px #FFF , 514px 580px #FFF , 1943px 828px #FFF , 544px 1368px #FFF , 759px 981px #FFF , 766px 1168px #FFF , 1654px 866px #FFF , 1600px 57px #FFF , 249px 1999px #FFF , 1640px 1314px #FFF , 1114px 56px #FFF , 1764px 405px #FFF , 1726px 1785px #FFF , 873px 360px #FFF , 443px 1513px #FFF , 1293px 890px #FFF , 978px 1931px #FFF , 1794px 1476px #FFF , 1492px 599px #FFF , 738px 1168px #FFF , 460px 1446px #FFF , 1920px 65px #FFF , 1052px 760px #FFF , 152px 1286px #FFF , 775px 230px #FFF , 945px 103px #FFF , 1735px 1338px #FFF , 355px 1167px #FFF , 2px 1608px #FFF , 1163px 1097px #FFF , 1314px 1676px #FFF , 1948px 1269px #FFF , 56px 1536px #FFF , 381px 101px #FFF , 384px 1215px #FFF , 1098px 135px #FFF , 387px 1094px #FFF , 1741px 1674px #FFF , 946px 553px #FFF , 1606px 1535px #FFF , 183px 725px #FFF , 111px 1042px #FFF , 1687px 963px #FFF , 1850px 991px #FFF , 1384px 651px #FFF , 1732px 53px #FFF , 346px 1634px #FFF , 193px 606px #FFF , 214px 1918px #FFF , 804px 424px #FFF , 182px 1286px #FFF , 313px 1211px #FFF , 622px 1121px #FFF , 1922px 332px #FFF , 1087px 353px #FFF , 1812px 647px #FFF , 1770px 957px #FFF , 1499px 90px #FFF , 1798px 948px #FFF , 1279px 232px #FFF , 429px 1147px #FFF , 854px 1365px #FFF , 1733px 1655px #FFF , 1122px 358px #FFF , 491px 1126px #FFF , 1453px 1044px #FFF , 402px 1759px #FFF , 612px 1503px #FFF , 969px 965px #FFF , 1594px 1787px #FFF , 869px 193px #FFF , 1168px 1612px #FFF , 1413px 1626px #FFF , 1285px 1586px #FFF , 1642px 1623px #FFF , 1514px 932px #FFF , 1726px 767px #FFF , 373px 378px #FFF , 679px 1005px #FFF , 792px 1920px #FFF , 310px 344px #FFF , 1264px 1203px #FFF , 1247px 376px #FFF , 798px 614px #FFF , 617px 408px #FFF , 1718px 1220px #FFF , 113px 1323px #FFF , 836px 1565px #FFF , 765px 181px #FFF , 1910px 1272px #FFF , 789px 1910px #FFF , 358px 248px #FFF , 1829px 1861px #FFF , 1462px 1798px #FFF , 818px 974px #FFF , 999px 1224px #FFF , 1947px 396px #FFF , 1898px 1481px #FFF , 640px 26px #FFF , 1036px 134px #FFF , 1414px 1927px #FFF , 1910px 1644px #FFF , 445px 395px #FFF , 468px 1522px #FFF , 1040px 717px #FFF , 1918px 671px #FFF , 1572px 912px #FFF , 1493px 1960px #FFF , 1866px 1700px #FFF , 1316px 246px #FFF , 996px 1748px #FFF , 1944px 1939px #FFF , 224px 43px #FFF , 268px 82px #FFF , 159px 1877px #FFF , 311px 276px #FFF , 962px 803px #FFF , 1934px 1428px #FFF , 908px 671px #FFF , 1629px 1047px #FFF , 1194px 376px #FFF , 1106px 31px #FFF , 267px 1446px #FFF , 418px 506px #FFF , 1851px 1872px #FFF , 405px 929px #FFF , 1131px 516px #FFF , 1418px 1225px #FFF , 1777px 1906px #FFF , 1534px 1366px #FFF , 168px 507px #FFF , 558px 199px #FFF , 506px 1193px #FFF , 623px 639px #FFF , 405px 1583px #FFF , 1108px 608px #FFF , 1562px 1422px #FFF , 294px 1143px #FFF , 1874px 140px #FFF , 155px 1708px #FFF , 541px 1240px #FFF , 1689px 839px #FFF , 1530px 1336px #FFF , 105px 941px #FFF , 475px 1124px #FFF , 357px 999px #FFF , 819px 185px #FFF , 73px 1759px #FFF , 1459px 14px #FFF , 1007px 1400px #FFF , 692px 1863px #FFF , 104px 1184px #FFF , 846px 1946px #FFF , 923px 1678px #FFF , 733px 207px #FFF , 1250px 777px #FFF , 1232px 1037px #FFF , 566px 1378px #FFF , 1851px 1424px #FFF , 919px 321px #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1807px 2245px #FFF , 1817px 1338px #FFF , 1527px 1159px #FFF , 1317px 1247px #FFF , 1091px 1440px #FFF , 246px 1667px #FFF , 477px 1054px #FFF , 1939px 1881px #FFF , 1289px 1235px #FFF , 1571px 693px #FFF , 819px 4px #FFF , 859px 41px #FFF , 1380px 236px #FFF , 1904px 149px #FFF , 948px 86px #FFF , 1720px 1675px #FFF , 467px 1144px #FFF , 824px 1391px #FFF , 1273px 270px #FFF , 1808px 1926px #FFF , 795px 1040px #FFF , 1978px 1715px #FFF , 968px 184px #FFF , 1478px 591px #FFF , 1988px 1332px #FFF , 1993px 581px #FFF , 307px 1977px #FFF , 169px 278px #FFF , 267px 267px #FFF , 538px 526px #FFF , 242px 1909px #FFF , 1732px 688px #FFF , 431px 1826px #FFF , 1654px 991px #FFF , 1467px 1166px #FFF , 754px 1342px #FFF , 1705px 1002px #FFF , 1011px 1550px #FFF , 1870px 424px #FFF , 1022px 1888px #FFF , 989px 1772px #FFF , 65px 1597px #FFF , 1816px 355px #FFF , 4px 1024px #FFF , 349px 604px #FFF , 550px 1540px #FFF , 845px 1983px #FFF , 10px 1726px #FFF , 1973px 809px #FFF , 687px 743px #FFF , 888px 1376px #FFF , 1374px 1574px #FFF , 557px 375px #FFF , 10px 1470px #FFF , 721px 52px #FFF , 1046px 286px #FFF , 67px 298px #FFF , 1296px 1130px #FFF , 648px 96px #FFF , 1617px 1635px #FFF , 1574px 854px #FFF , 789px 134px #FFF , 1840px 1480px #FFF , 42px 897px #FFF , 634px 724px #FFF , 874px 619px #FFF , 275px 167px #FFF , 796px 1082px #FFF , 1062px 1346px #FFF , 99px 503px #FFF , 1171px 1989px #FFF , 345px 1311px #FFF , 563px 1996px #FFF , 1894px 793px #FFF , 397px 445px #FFF , 1451px 81px #FFF , 873px 284px #FFF , 218px 312px #FFF , 1049px 1390px #FFF , 1501px 508px #FFF , 851px 1862px #FFF , 734px 1860px #FFF , 537px 1063px #FFF , 1049px 910px #FFF , 487px 38px #FFF , 348px 402px #FFF , 552px 890px #FFF , 53px 1169px #FFF , 1793px 305px #FFF , 1076px 1615px #FFF , 793px 1428px #FFF , 353px 165px #FFF , 670px 1340px #FFF , 1521px 1961px #FFF , 399px 1818px #FFF , 996px 529px #FFF , 5px 195px #FFF , 1814px 345px #FFF , 1792px 351px #FFF , 336px 24px #FFF , 1999px 1610px #FFF , 1969px 1658px #FFF , 1380px 1605px #FFF , 1560px 1223px #FFF , 1853px 1942px #FFF , 577px 1811px #FFF , 351px 608px #FFF , 118px 1405px #FFF , 1730px 387px #FFF , 1487px 1165px #FFF , 779px 1240px #FFF , 594px 619px #FFF , 42px 562px #FFF , 1164px 799px #FFF , 1171px 1210px #FFF , 1645px 1712px #FFF , 1900px 1935px #FFF , 918px 253px #FFF , 1734px 790px #FFF , 421px 835px #FFF , 438px 1641px #FFF , 201px 1074px #FFF , 1644px 611px #FFF , 1828px 1527px #FFF , 1432px 1876px #FFF , 1646px 1945px #FFF , 224px 440px #FFF , 1891px 1459px #FFF , 120px 1725px #FFF , 1890px 1875px #FFF , 1885px 64px #FFF , 1459px 950px #FFF , 1651px 1709px #FFF , 553px 1942px #FFF , 1281px 1310px #FFF , 591px 1746px #FFF , 1608px 5px #FFF , 554px 1395px #FFF , 1137px 747px #FFF , 734px 1203px #FFF , 333px 1134px #FFF , 1153px 1438px #FFF , 203px 83px #FFF , 405px 860px #FFF , 326px 1894px #FFF , 1232px 1709px #FFF , 1090px 29px #FFF , 404px 1125px #FFF , 296px 1634px #FFF , 1121px 1685px #FFF , 1390px 1085px #FFF , 374px 301px #FFF , 1399px 488px #FFF , 1008px 428px #FFF , 1068px 1690px #FFF , 107px 1267px #FFF , 779px 276px #FFF , 15px 161px #FFF , 1774px 72px #FFF , 861px 1533px #FFF , 1254px 944px #FFF , 889px 1447px #FFF , 607px 1902px #FFF , 1044px 1635px #FFF , 1332px 470px #FFF , 1668px 1558px #FFF , 565px 112px #FFF , 117px 1664px #FFF , 492px 1694px #FFF , 92px 219px #FFF , 1927px 764px #FFF , 621px 1946px #FFF , 1612px 1144px #FFF , 224px 1658px #FFF , 1239px 1224px #FFF , 1847px 450px #FFF , 798px 506px #FFF , 1426px 1393px #FFF , 1424px 1242px #FFF , 1709px 253px #FFF , 941px 909px #FFF , 22px 200px #FFF , 808px 238px #FFF , 747px 1854px #FFF , 582px 672px #FFF , 1004px 1670px #FFF , 210px 644px #FFF , 550px 1673px #FFF , 713px 1797px #FFF , 1676px 1972px #FFF , 389px 1296px #FFF , 1165px 315px #FFF , 114px 1366px #FFF , 250px 1158px #FFF , 1974px 725px #FFF , 521px 59px #FFF , 492px 1562px #FFF , 718px 349px #FFF , 1924px 1071px #FFF , 869px 504px #FFF , 47px 698px #FFF , 1995px 1754px #FFF , 1831px 677px #FFF , 669px 747px #FFF , 588px 348px #FFF , 983px 353px #FFF , 1663px 1848px #FFF , 398px 245px #FFF , 1830px 1447px #FFF , 1514px 203px #FFF , 1750px 1257px #FFF , 1085px 1967px #FFF , 1440px 17px #FFF , 1438px 716px #FFF , 862px 948px #FFF , 1583px 1769px #FFF , 503px 262px #FFF , 738px 920px #FFF , 674px 520px #FFF , 401px 1740px #FFF , 1857px 1336px #FFF , 1987px 343px #FFF , 1172px 977px #FFF , 1271px 789px #FFF , 1688px 1060px #FFF , 885px 403px #FFF , 1354px 1300px #FFF , 1373px 313px #FFF , 953px 833px #FFF , 1085px 1576px #FFF , 1717px 1507px #FFF , 261px 1213px #FFF , 440px 1914px #FFF , 1874px 793px #FFF , 869px 78px #FFF , 656px 361px #FFF , 1253px 1446px #FFF , 1286px 921px #FFF , 1081px 820px #FFF , 1896px 1689px #FFF , 810px 1741px #FFF , 1468px 35px #FFF , 847px 644px #FFF , 679px 1826px #FFF , 1142px 693px #FFF , 1384px 358px #FFF , 1301px 1662px #FFF , 568px 401px #FFF , 1919px 1465px #FFF , 285px 1005px #FFF , 1049px 1997px #FFF , 494px 1882px #FFF , 315px 622px #FFF , 234px 331px #FFF , 1048px 1327px #FFF , 42px 316px #FFF , 1517px 1177px #FFF , 590px 1466px #FFF , 1841px 1649px #FFF , 1133px 1153px #FFF , 1356px 19px #FFF , 1324px 1693px #FFF , 937px 864px #FFF , 1377px 686px #FFF , 345px 1121px #FFF , 1968px 996px #FFF , 461px 1159px #FFF , 1300px 403px #FFF , 1367px 1716px #FFF , 1032px 869px #FFF , 1451px 1422px #FFF , 1093px 67px #FFF , 393px 1627px #FFF , 728px 1808px #FFF , 1360px 1204px #FFF , 349px 759px #FFF , 357px 675px #FFF , 1495px 1736px #FFF , 523px 59px #FFF , 857px 1149px #FFF , 1957px 11px #FFF , 284px 1135px #FFF , 1320px 429px #FFF , 1498px 930px #FFF , 1737px 432px #FFF , 130px 1275px #FFF , 1216px 373px #FFF , 718px 1283px #FFF , 1386px 758px #FFF , 1516px 1048px #FFF , 1349px 366px #FFF , 1048px 1131px #FFF , 1673px 1367px #FFF , 875px 766px #FFF , 925px 1837px #FFF , 949px 286px #FFF , 244px 643px #FFF , 1534px 204px #FFF , 267px 1897px #FFF , 266px 986px #FFF , 236px 1924px #FFF , 129px 727px #FFF , 1535px 1498px #FFF , 1199px 726px #FFF , 171px 1632px #FFF , 1205px 1417px #FFF , 1888px 1869px #FFF , 1841px 1330px #FFF , 1727px 834px #FFF , 1493px 273px #FFF , 857px 989px #FFF , 1763px 1430px #FFF , 1609px 1240px #FFF , 1852px 1598px #FFF , 1303px 1316px #FFF , 275px 367px #FFF , 1625px 1704px #FFF , 415px 1340px #FFF , 289px 1837px #FFF , 185px 116px #FFF , 292px 1904px #FFF , 520px 1512px #FFF , 794px 1802px #FFF , 164px 757px #FFF , 630px 1697px #FFF , 1194px 1264px #FFF , 1491px 975px #FFF , 1234px 845px #FFF , 1282px 668px #FFF , 483px 1867px #FFF , 185px 793px #FFF , 1848px 1839px #FFF , 1715px 675px #FFF , 248px 1105px #FFF , 1084px 1650px #FFF , 1856px 1285px #FFF , 529px 941px #FFF , 1251px 502px #FFF , 1415px 1461px #FFF , 325px 202px #FFF , 1561px 478px #FFF , 886px 1702px #FFF , 1620px 131px #FFF , 1898px 1468px #FFF , 192px 700px #FFF , 977px 175px #FFF , 377px 1549px #FFF , 770px 182px #FFF , 592px 328px #FFF , 1581px 1329px #FFF , 1533px 24px #FFF , 226px 1276px #FFF , 1891px 1184px #FFF , 597px 475px #FFF , 704px 1722px #FFF , 74px 1692px #FFF , 726px 1346px #FFF , 1271px 69px #FFF , 905px 160px #FFF , 994px 135px #FFF , 1947px 605px #FFF , 547px 112px #FFF , 220px 32px #FFF , 650px 532px #FFF , 1723px 648px #FFF , 1253px 305px #FFF , 130px 606px #FFF , 1516px 183px #FFF , 1645px 1406px #FFF , 1254px 1286px #FFF , 1242px 961px #FFF , 1808px 315px #FFF , 508px 1940px #FFF , 358px 1886px #FFF , 1583px 1983px #FFF , 1234px 1125px #FFF , 113px 1292px #FFF , 600px 1463px #FFF , 151px 65px #FFF , 147px 781px #FFF , 957px 267px #FFF , 580px 919px #FFF , 1124px 1709px #FFF , 860px 1916px #FFF , 450px 466px #FFF , 1423px 794px #FFF , 1865px 1150px #FFF , 1518px 1252px #FFF , 1670px 1052px #FFF , 963px 566px #FFF , 1204px 1528px #FFF , 247px 1259px #FFF , 1184px 1059px #FFF , 478px 1445px #FFF , 827px 1701px #FFF , 816px 226px #FFF , 1001px 460px #FFF , 331px 1868px #FFF , 709px 385px #FFF , 669px 811px #FFF , 1854px 168px #FFF , 1976px 1334px #FFF , 1781px 320px #FFF , 576px 231px #FFF , 1875px 445px #FFF , 1719px 883px #FFF , 1992px 1157px #FFF , 505px 1748px #FFF , 280px 1431px #FFF , 1094px 451px #FFF , 753px 660px #FFF , 88px 356px #FFF , 1303px 980px #FFF , 431px 670px #FFF , 531px 266px #FFF , 187px 254px #FFF , 797px 404px #FFF , 493px 1624px #FFF , 541px 1611px #FFF , 352px 95px #FFF , 1034px 448px #FFF , 44px 921px #FFF , 1673px 965px #FFF , 911px 1168px #FFF , 1211px 1442px #FFF , 739px 680px #FFF , 1889px 719px #FFF , 1317px 112px #FFF , 1214px 932px #FFF , 618px 715px #FFF , 1225px 1589px #FFF , 1330px 620px #FFF , 100px 779px #FFF , 672px 365px #FFF , 1281px 296px #FFF , 1431px 188px #FFF , 1989px 650px #FFF , 735px 1353px #FFF , 750px 549px #FFF , 778px 1784px #FFF , 299px 172px #FFF , 487px 1921px #FFF , 467px 1913px #FFF , 1515px 847px #FFF , 1424px 1849px #FFF , 1086px 590px #FFF , 1198px 1504px #FFF , 1284px 54px #FFF , 1247px 805px #FFF , 1259px 1290px #FFF , 988px 380px #FFF , 685px 733px #FFF , 1839px 339px #FFF , 972px 1602px #FFF , 868px 1907px #FFF , 385px 1561px #FFF , 328px 333px #FFF , 1296px 1702px #FFF , 1705px 16px #FFF , 1686px 1941px #FFF , 1977px 937px #FFF , 1801px 1318px #FFF , 1787px 1642px #FFF , 1231px 212px #FFF , 1479px 748px #FFF , 685px 1908px #FFF , 951px 246px #FFF , 1582px 1256px #FFF , 1108px 1574px #FFF , 77px 693px #FFF , 1767px 1550px #FFF , 1373px 486px #FFF , 1798px 25px #FFF , 640px 1720px #FFF , 479px 1134px #FFF , 1444px 1270px #FFF , 1860px 918px #FFF , 360px 1663px #FFF , 1281px 494px #FFF , 319px 1795px #FFF , 948px 1558px #FFF , 1438px 593px #FFF , 531px 1509px #FFF , 861px 1358px #FFF , 326px 450px #FFF , 727px 1818px #FFF , 1609px 1749px #FFF , 546px 750px #FFF , 616px 102px #FFF , 692px 1584px #FFF , 119px 1344px #FFF , 1726px 1820px #FFF , 19px 1122px #FFF , 1315px 441px #FFF , 1462px 1279px #FFF , 1516px 719px #FFF , 432px 1807px #FFF , 1589px 1404px #FFF , 1801px 1412px #FFF , 1953px 1916px #FFF , 229px 3px #FFF , 905px 577px #FFF , 678px 1965px #FFF , 72px 82px #FFF , 729px 1100px #FFF , 687px 442px #FFF , 745px 1038px #FFF , 1592px 17px #FFF , 260px 879px #FFF , 340px 1035px #FFF , 1560px 1420px #FFF , 670px 900px #FFF , 1112px 1904px #FFF , 1302px 403px #FFF , 21px 820px #FFF , 690px 1417px #FFF , 1177px 121px #FFF , 994px 1736px #FFF , 657px 982px #FFF , 52px 381px #FFF , 1993px 1922px #FFF , 1331px 1898px #FFF , 607px 1523px #FFF , 439px 991px #FFF , 1528px 602px #FFF , 138px 147px #FFF , 123px 1597px #FFF , 244px 379px #FFF , 972px 932px #FFF , 457px 1408px #FFF , 1091px 100px #FFF , 1724px 1071px #FFF , 1130px 503px #FFF , 878px 1394px #FFF , 1546px 886px #FFF , 913px 1926px #FFF , 1869px 1093px #FFF , 1984px 1021px #FFF , 1005px 44px #FFF , 1925px 1334px #FFF , 487px 182px #FFF , 514px 580px #FFF , 1943px 828px #FFF , 544px 1368px #FFF , 759px 981px #FFF , 766px 1168px #FFF , 1654px 866px #FFF , 1600px 57px #FFF , 249px 1999px #FFF , 1640px 1314px #FFF , 1114px 56px #FFF , 1764px 405px #FFF , 1726px 1785px #FFF , 873px 360px #FFF , 443px 1513px #FFF , 1293px 890px #FFF , 978px 1931px #FFF , 1794px 1476px #FFF , 1492px 599px #FFF , 738px 1168px #FFF , 460px 1446px #FFF , 1920px 65px #FFF , 1052px 760px #FFF , 152px 1286px #FFF , 775px 230px #FFF , 945px 103px #FFF , 1735px 1338px #FFF , 355px 1167px #FFF , 2px 1608px #FFF , 1163px 1097px #FFF , 1314px 1676px #FFF , 1948px 1269px #FFF , 56px 1536px #FFF , 381px 101px #FFF , 384px 1215px #FFF , 1098px 135px #FFF , 387px 1094px #FFF , 1741px 1674px #FFF , 946px 553px #FFF , 1606px 1535px #FFF , 183px 725px #FFF , 111px 1042px #FFF , 1687px 963px #FFF , 1850px 991px #FFF , 1384px 651px #FFF , 1732px 53px #FFF , 346px 1634px #FFF , 193px 606px #FFF , 214px 1918px #FFF , 804px 424px #FFF , 182px 1286px #FFF , 313px 1211px #FFF , 622px 1121px #FFF , 1922px 332px #FFF , 1087px 353px #FFF , 1812px 647px #FFF , 1770px 957px #FFF , 1499px 90px #FFF , 1798px 948px #FFF , 1279px 232px #FFF , 429px 1147px #FFF , 854px 1365px #FFF , 1733px 1655px #FFF , 1122px 358px #FFF , 491px 1126px #FFF , 1453px 1044px #FFF , 402px 1759px #FFF , 612px 1503px #FFF , 969px 965px #FFF , 1594px 1787px #FFF , 869px 193px #FFF , 1168px 1612px #FFF , 1413px 1626px #FFF , 1285px 1586px #FFF , 1642px 1623px #FFF , 1514px 932px #FFF , 1726px 767px #FFF , 373px 378px #FFF , 679px 1005px #FFF , 792px 1920px #FFF , 310px 344px #FFF , 1264px 1203px #FFF , 1247px 376px #FFF , 798px 614px #FFF , 617px 408px #FFF , 1718px 1220px #FFF , 113px 1323px #FFF , 836px 1565px #FFF , 765px 181px #FFF , 1910px 1272px #FFF , 789px 1910px #FFF , 358px 248px #FFF , 1829px 1861px #FFF , 1462px 1798px #FFF , 818px 974px #FFF , 999px 1224px #FFF , 1947px 396px #FFF , 1898px 1481px #FFF , 640px 26px #FFF , 1036px 134px #FFF , 1414px 1927px #FFF , 1910px 1644px #FFF , 445px 395px #FFF , 468px 1522px #FFF , 1040px 717px #FFF , 1918px 671px #FFF , 1572px 912px #FFF , 1493px 1960px #FFF , 1866px 1700px #FFF , 1316px 246px #FFF , 996px 1748px #FFF , 1944px 1939px #FFF , 224px 43px #FFF , 268px 82px #FFF , 159px 1877px #FFF , 311px 276px #FFF , 962px 803px #FFF , 1934px 1428px #FFF , 908px 671px #FFF , 1629px 1047px #FFF , 1194px 376px #FFF , 1106px 31px #FFF , 267px 1446px #FFF , 418px 506px #FFF , 1851px 1872px #FFF , 405px 929px #FFF , 1131px 516px #FFF , 1418px 1225px #FFF , 1777px 1906px #FFF , 1534px 1366px #FFF , 168px 507px #FFF , 558px 199px #FFF , 506px 1193px #FFF , 623px 639px #FFF , 405px 1583px #FFF , 1108px 608px #FFF , 1562px 1422px #FFF , 294px 1143px #FFF , 1874px 140px #FFF , 155px 1708px #FFF , 541px 1240px #FFF , 1689px 839px #FFF , 1530px 1336px #FFF , 105px 941px #FFF , 475px 1124px #FFF , 357px 999px #FFF , 819px 185px #FFF , 73px 1759px #FFF , 1459px 14px #FFF , 1007px 1400px #FFF , 692px 1863px #FFF , 104px 1184px #FFF , 846px 1946px #FFF , 923px 1678px #FFF , 733px 207px #FFF , 1250px 777px #FFF , 1232px 1037px #FFF , 566px 1378px #FFF , 1851px 1424px #FFF , 919px 321px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1090px 10685px #FFF , 1553px 122px #FFF , 486px 1529px #FFF , 8px 1292px #FFF , 977px 503px #FFF , 641px 796px #FFF , 1073px 956px #FFF , 334px 983px #FFF , 601px 1790px #FFF , 447px 641px #FFF , 192px 336px #FFF , 1329px 1861px #FFF , 1196px 929px #FFF , 1921px 1574px #FFF , 1134px 1108px #FFF , 29px 110px #FFF , 1390px 269px #FFF , 691px 953px #FFF , 749px 1098px #FFF , 1431px 1819px #FFF , 1729px 1778px #FFF , 1703px 1189px #FFF , 100px 282px #FFF , 1988px 598px #FFF , 1392px 1859px #FFF , 267px 839px #FFF , 563px 1765px #FFF , 1735px 638px #FFF , 498px 140px #FFF , 390px 819px #FFF , 1292px 892px #FFF , 243px 1069px #FFF , 132px 1146px #FFF , 805px 980px #FFF , 316px 1588px #FFF , 992px 349px #FFF , 1163px 147px #FFF , 866px 379px #FFF , 1594px 1254px #FFF , 1555px 1866px #FFF , 431px 1510px #FFF , 290px 206px #FFF , 718px 563px #FFF , 347px 1316px #FFF , 1361px 1838px #FFF , 254px 526px #FFF , 1465px 1581px #FFF , 486px 331px #FFF , 544px 848px #FFF , 292px 1864px #FFF , 1584px 885px #FFF , 376px 143px #FFF , 1185px 433px #FFF , 259px 1602px #FFF , 1961px 849px #FFF , 789px 48px #FFF , 824px 1876px #FFF , 1800px 1750px #FFF , 895px 225px #FFF , 813px 1036px #FFF , 1021px 1698px #FFF , 887px 53px #FFF , 1198px 1449px #FFF , 1506px 1182px #FFF , 392px 1121px #FFF , 1255px 1658px #FFF , 325px 1008px #FFF , 855px 1652px #FFF , 413px 684px #FFF , 50px 130px #FFF , 47px 940px #FFF , 990px 1149px #FFF , 900px 446px #FFF , 1622px 363px #FFF , 116px 451px #FFF , 711px 1862px #FFF , 568px 1335px #FFF , 1342px 890px #FFF , 298px 1891px #FFF , 1510px 1836px #FFF , 1610px 346px #FFF , 1173px 1087px #FFF , 1935px 163px #FFF , 471px 1123px #FFF , 1703px 666px #FFF , 1722px 1268px #FFF , 1347px 703px #FFF , 505px 307px #FFF , 164px 228px #FFF , 158px 1440px #FFF , 1994px 1809px #FFF , 804px 353px #FFF , 1833px 1350px #FFF , 1421px 1866px #FFF , 743px 1234px #FFF , 1632px 907px #FFF , 1736px 1397px #FFF , 201px 790px #FFF , 121px 1629px #FFF , 388px 1535px #FFF , 806px 178px #FFF , 646px 1694px #FFF , 716px 1685px #FFF , 1723px 385px #FFF , 1642px 944px #FFF , 469px 1330px #FFF , 122px 1234px #FFF , 169px 291px #FFF , 963px 819px #FFF , 454px 153px #FFF , 683px 1970px #FFF , 384px 1798px #FFF , 1015px 1996px #FFF , 1547px 1396px #FFF , 473px 310px #FFF , 403px 352px #FFF , 372px 1656px #FFF , 1207px 996px #FFF , 273px 1982px #FFF , 1730px 983px #FFF , 1785px 1023px #FFF , 74px 324px #FFF , 1384px 1808px #FFF , 843px 471px #FFF , 989px 1932px #FFF , 583px 1266px #FFF , 967px 1519px #FFF , 651px 788px #FFF , 868px 1061px #FFF , 1878px 876px #FFF , 1960px 386px #FFF , 1915px 994px #FFF , 1463px 1035px #FFF , 445px 1389px #FFF , 1982px 390px #FFF , 1405px 1107px #FFF , 646px 1231px #FFF , 1502px 1529px #FFF , 1797px 811px #FFF , 434px 1532px #FFF , 194px 1281px #FFF , 27px 594px #FFF , 1447px 157px #FFF , 1078px 1638px #FFF , 1198px 645px #FFF , 1699px 422px #FFF , 1948px 1383px #FFF , 201px 418px #FFF , 677px 1219px #FFF , 1819px 1347px #FFF , 973px 1316px #FFF , 69px 1716px #FFF , 99px 1037px #FFF , 626px 655px #FFF , 1486px 1980px #FFF , 1807px 1412px #FFF , 1358px 468px #FFF , 1356px 464px #FFF , 11px 1593px #FFF , 836px 1520px #FFF , 1303px 799px #FFF , 560px 1248px #FFF , 1943px 1497px #FFF , 1683px 1019px #FFF , 1354px 1866px #FFF , 1088px 1745px #FFF , 608px 1053px #FFF , 1849px 1837px #FFF , 1524px 305px #FFF , 687px 1059px #FFF , 711px 1531px #FFF , 1286px 1993px #FFF , 204px 1992px #FFF , 84px 985px #FFF , 303px 1768px #FFF , 74px 12px #FFF , 438px 1345px #FFF , 1676px 364px #FFF , 680px 612px #FFF , 870px 1322px #FFF , 583px 1751px #FFF , 1904px 222px #FFF , 1301px 416px #FFF , 485px 784px #FFF , 651px 207px #FFF , 1317px 619px #FFF , 1349px 1161px #FFF , 1431px 916px #FFF , 1305px 755px #FFF , 488px 841px #FFF , 1108px 1710px #FFF , 598px 77px #FFF , 1742px 1368px #FFF , 1347px 1208px #FFF , 1372px 1675px #FFF , 167px 1230px #FFF , 781px 12px #FFF , 901px 1478px #FFF , 644px 1918px #FFF , 1475px 795px #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1090px 10685px #FFF , 1553px 122px #FFF , 486px 1529px #FFF , 8px 1292px #FFF , 977px 503px #FFF , 641px 796px #FFF , 1073px 956px #FFF , 334px 983px #FFF , 601px 1790px #FFF , 447px 641px #FFF , 192px 336px #FFF , 1329px 1861px #FFF , 1196px 929px #FFF , 1921px 1574px #FFF , 1134px 1108px #FFF , 29px 110px #FFF , 1390px 269px #FFF , 691px 953px #FFF , 749px 1098px #FFF , 1431px 1819px #FFF , 1729px 1778px #FFF , 1703px 1189px #FFF , 100px 282px #FFF , 1988px 598px #FFF , 1392px 1859px #FFF , 267px 839px #FFF , 563px 1765px #FFF , 1735px 638px #FFF , 498px 140px #FFF , 390px 819px #FFF , 1292px 892px #FFF , 243px 1069px #FFF , 132px 1146px #FFF , 805px 980px #FFF , 316px 1588px #FFF , 992px 349px #FFF , 1163px 147px #FFF , 866px 379px #FFF , 1594px 1254px #FFF , 1555px 1866px #FFF , 431px 1510px #FFF , 290px 206px #FFF , 718px 563px #FFF , 347px 1316px #FFF , 1361px 1838px #FFF , 254px 526px #FFF , 1465px 1581px #FFF , 486px 331px #FFF , 544px 848px #FFF , 292px 1864px #FFF , 1584px 885px #FFF , 376px 143px #FFF , 1185px 433px #FFF , 259px 1602px #FFF , 1961px 849px #FFF , 789px 48px #FFF , 824px 1876px #FFF , 1800px 1750px #FFF , 895px 225px #FFF , 813px 1036px #FFF , 1021px 1698px #FFF , 887px 53px #FFF , 1198px 1449px #FFF , 1506px 1182px #FFF , 392px 1121px #FFF , 1255px 1658px #FFF , 325px 1008px #FFF , 855px 1652px #FFF , 413px 684px #FFF , 50px 130px #FFF , 47px 940px #FFF , 990px 1149px #FFF , 900px 446px #FFF , 1622px 363px #FFF , 116px 451px #FFF , 711px 1862px #FFF , 568px 1335px #FFF , 1342px 890px #FFF , 298px 1891px #FFF , 1510px 1836px #FFF , 1610px 346px #FFF , 1173px 1087px #FFF , 1935px 163px #FFF , 471px 1123px #FFF , 1703px 666px #FFF , 1722px 1268px #FFF , 1347px 703px #FFF , 505px 307px #FFF , 164px 228px #FFF , 158px 1440px #FFF , 1994px 1809px #FFF , 804px 353px #FFF , 1833px 1350px #FFF , 1421px 1866px #FFF , 743px 1234px #FFF , 1632px 907px #FFF , 1736px 1397px #FFF , 201px 790px #FFF , 121px 1629px #FFF , 388px 1535px #FFF , 806px 178px #FFF , 646px 1694px #FFF , 716px 1685px #FFF , 1723px 385px #FFF , 1642px 944px #FFF , 469px 1330px #FFF , 122px 1234px #FFF , 169px 291px #FFF , 963px 819px #FFF , 454px 153px #FFF , 683px 1970px #FFF , 384px 1798px #FFF , 1015px 1996px #FFF , 1547px 1396px #FFF , 473px 310px #FFF , 403px 352px #FFF , 372px 1656px #FFF , 1207px 996px #FFF , 273px 1982px #FFF , 1730px 983px #FFF , 1785px 1023px #FFF , 74px 324px #FFF , 1384px 1808px #FFF , 843px 471px #FFF , 989px 1932px #FFF , 583px 1266px #FFF , 967px 1519px #FFF , 651px 788px #FFF , 868px 1061px #FFF , 1878px 876px #FFF , 1960px 386px #FFF , 1915px 994px #FFF , 1463px 1035px #FFF , 445px 1389px #FFF , 1982px 390px #FFF , 1405px 1107px #FFF , 646px 1231px #FFF , 1502px 1529px #FFF , 1797px 811px #FFF , 434px 1532px #FFF , 194px 1281px #FFF , 27px 594px #FFF , 1447px 157px #FFF , 1078px 1638px #FFF , 1198px 645px #FFF , 1699px 422px #FFF , 1948px 1383px #FFF , 201px 418px #FFF , 677px 1219px #FFF , 1819px 1347px #FFF , 973px 1316px #FFF , 69px 1716px #FFF , 99px 1037px #FFF , 626px 655px #FFF , 1486px 1980px #FFF , 1807px 1412px #FFF , 1358px 468px #FFF , 1356px 464px #FFF , 11px 1593px #FFF , 836px 1520px #FFF , 1303px 799px #FFF , 560px 1248px #FFF , 1943px 1497px #FFF , 1683px 1019px #FFF , 1354px 1866px #FFF , 1088px 1745px #FFF , 608px 1053px #FFF , 1849px 1837px #FFF , 1524px 305px #FFF , 687px 1059px #FFF , 711px 1531px #FFF , 1286px 1993px #FFF , 204px 1992px #FFF , 84px 985px #FFF , 303px 1768px #FFF , 74px 12px #FFF , 438px 1345px #FFF , 1676px 364px #FFF , 680px 612px #FFF , 870px 1322px #FFF , 583px 1751px #FFF , 1904px 222px #FFF , 1301px 416px #FFF , 485px 784px #FFF , 651px 207px #FFF , 1317px 619px #FFF , 1349px 1161px #FFF , 1431px 916px #FFF , 1305px 755px #FFF , 488px 841px #FFF , 1108px 1710px #FFF , 598px 77px #FFF , 1742px 1368px #FFF , 1347px 1208px #FFF , 1372px 1675px #FFF , 167px 1230px #FFF , 781px 12px #FFF , 901px 1478px #FFF , 644px 1918px #FFF , 1475px 795px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 773px 15923px #FFF , 641px 1912px #FFF , 1818px 496px #FFF , 336px 1360px #FFF , 1736px 1450px #FFF , 1378px 836px #FFF , 805px 486px #FFF , 1012px 89px #FFF , 920px 26px #FFF , 741px 613px #FFF , 790px 206px #FFF , 1343px 1614px #FFF , 146px 1903px #FFF , 1456px 1662px #FFF , 1710px 610px #FFF , 1620px 1101px #FFF , 927px 984px #FFF , 1270px 1716px #FFF , 1482px 1904px #FFF , 1122px 786px #FFF , 399px 754px #FFF , 1621px 1186px #FFF , 741px 610px #FFF , 1822px 1666px #FFF , 1906px 1099px #FFF , 1511px 1240px #FFF , 1972px 1626px #FFF , 1985px 643px #FFF , 711px 401px #FFF , 671px 1799px #FFF , 988px 515px #FFF , 1614px 1311px #FFF , 1547px 1684px #FFF , 585px 81px #FFF , 1751px 837px #FFF , 1687px 168px #FFF , 372px 7px #FFF , 485px 183px #FFF , 465px 870px #FFF , 102px 1652px #FFF , 1435px 968px #FFF , 1831px 90px #FFF , 113px 1226px #FFF , 321px 239px #FFF , 1296px 1481px #FFF , 988px 338px #FFF , 1250px 1114px #FFF , 788px 361px #FFF , 1272px 526px #FFF , 68px 844px #FFF , 869px 1432px #FFF , 1636px 1075px #FFF , 513px 1548px #FFF , 1529px 1741px #FFF , 1763px 1961px #FFF , 1888px 87px #FFF , 970px 174px #FFF , 299px 1390px #FFF , 1986px 1997px #FFF , 672px 506px #FFF , 851px 519px #FFF , 459px 459px #FFF , 761px 1161px #FFF , 1955px 666px #FFF , 1927px 437px #FFF , 40px 1614px #FFF , 997px 341px #FFF , 1919px 389px #FFF , 1604px 1136px #FFF , 967px 320px #FFF , 1034px 598px #FFF , 80px 760px #FFF , 586px 979px #FFF , 1981px 1562px #FFF , 65px 305px #FFF , 1840px 267px #FFF , 1059px 884px #FFF , 1391px 721px #FFF , 1041px 1383px #FFF , 1422px 955px #FFF , 1977px 333px #FFF , 1475px 97px #FFF , 1368px 1654px #FFF , 1749px 1227px #FFF , 449px 1326px #FFF , 1928px 1504px #FFF , 1840px 393px #FFF , 1020px 184px #FFF , 1673px 443px #FFF , 906px 1039px #FFF , 1297px 743px #FFF , 488px 1268px #FFF , 580px 1142px #FFF , 525px 192px #FFF , 671px 1639px #FFF , 1946px 90px #FFF , 1211px 1981px #FFF , 1558px 1605px #FFF , 1757px 1330px #FFF , 565px 1292px #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 773px 15923px #FFF , 641px 1912px #FFF , 1818px 496px #FFF , 336px 1360px #FFF , 1736px 1450px #FFF , 1378px 836px #FFF , 805px 486px #FFF , 1012px 89px #FFF , 920px 26px #FFF , 741px 613px #FFF , 790px 206px #FFF , 1343px 1614px #FFF , 146px 1903px #FFF , 1456px 1662px #FFF , 1710px 610px #FFF , 1620px 1101px #FFF , 927px 984px #FFF , 1270px 1716px #FFF , 1482px 1904px #FFF , 1122px 786px #FFF , 399px 754px #FFF , 1621px 1186px #FFF , 741px 610px #FFF , 1822px 1666px #FFF , 1906px 1099px #FFF , 1511px 1240px #FFF , 1972px 1626px #FFF , 1985px 643px #FFF , 711px 401px #FFF , 671px 1799px #FFF , 988px 515px #FFF , 1614px 1311px #FFF , 1547px 1684px #FFF , 585px 81px #FFF , 1751px 837px #FFF , 1687px 168px #FFF , 372px 7px #FFF , 485px 183px #FFF , 465px 870px #FFF , 102px 1652px #FFF , 1435px 968px #FFF , 1831px 90px #FFF , 113px 1226px #FFF , 321px 239px #FFF , 1296px 1481px #FFF , 988px 338px #FFF , 1250px 1114px #FFF , 788px 361px #FFF , 1272px 526px #FFF , 68px 844px #FFF , 869px 1432px #FFF , 1636px 1075px #FFF , 513px 1548px #FFF , 1529px 1741px #FFF , 1763px 1961px #FFF , 1888px 87px #FFF , 970px 174px #FFF , 299px 1390px #FFF , 1986px 1997px #FFF , 672px 506px #FFF , 851px 519px #FFF , 459px 459px #FFF , 761px 1161px #FFF , 1955px 666px #FFF , 1927px 437px #FFF , 40px 1614px #FFF , 997px 341px #FFF , 1919px 389px #FFF , 1604px 1136px #FFF , 967px 320px #FFF , 1034px 598px #FFF , 80px 760px #FFF , 586px 979px #FFF , 1981px 1562px #FFF , 65px 305px #FFF , 1840px 267px #FFF , 1059px 884px #FFF , 1391px 721px #FFF , 1041px 1383px #FFF , 1422px 955px #FFF , 1977px 333px #FFF , 1475px 97px #FFF , 1368px 1654px #FFF , 1749px 1227px #FFF , 449px 1326px #FFF , 1928px 1504px #FFF , 1840px 393px #FFF , 1020px 184px #FFF , 1673px 443px #FFF , 906px 1039px #FFF , 1297px 743px #FFF , 488px 1268px #FFF , 580px 1142px #FFF , 525px 192px #FFF , 671px 1639px #FFF , 1946px 90px #FFF , 1211px 1981px #FFF , 1558px 1605px #FFF , 1757px 1330px #FFF , 565px 1292px #FFF; }

/*Here is animation*/
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
@-webkit-keyframes rainbow {
  0% {
    fill: #ff0400; }
  13% {
    fill: #ffbf00; }
  25% {
    fill: #80ff00; }
  38% {
    fill: #00ff40; }
  50% {
    fill: cyan; }
  63% {
    fill: #0040ff; }
  75% {
    fill: #8000ff; }
  88% {
    fill: #ff00bf; }
  100% {
    fill: red; } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
