/*count the speed of rotation*/
$year-in-second : 20; // 1 Earth year = 30 sec
@function revolution($pl-year-in-days){
  @return $pl-year-in-days * $year-in-second / 365.2563 + s  //Earth reference
}

$center: 200px;
$info_container_orb : 500px; $info_container_rad: 150px;

html, body{
  height:100%;
  width:100%;
}
body{
  font:normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-attachment:fixed;
}

/*Here is about the parent container*/
.solar-syst{
  &:after{
    content:"";
    position:absolute;
    height:2px;
    width:2px;
    top:-2px;
    background:white;
    border-radius:100px;
  }

  margin:0 auto;
  width:100%;
  height:100%;
  position:relative;
  div{
    border-radius:1000px;
    top:50%;
    left:50%;
    position:absolute;
    z-index:999;
    &:not(.center){
      &:before{
        left:50%;
        border-radius:1000px;
        content:"";
        position:absolute;
      }
    }
  }
}

/*Here is for the elements*/
.center{
  background:red;
  height:$center;
  width:$center;
  margin-top: -$center / 2;
  margin-left: -$center / 2;
  background-clip: padding-box;
  border:0 !important;
  background-position: -28px -103px;
  background-size: 175%;
}

.content{
  background:black;
  display:none;
}
.info_container{
  height:$info_container_orb;
  width:$info_container_orb;
  margin-top: -$info_container_orb / 2;
  margin-left: -$info_container_orb / 2;
  &:before{
    height:$info_container_rad;
    width: $info_container_rad;
    margin-top: -$info_container_rad / 2;
    width: -$info_container_rad / 2;
  }
}

.one{
  animation: orb1 revolution(365.2563) linear infinite;
  &:before{
    background:yellow;
  }
}
.two{
  animation: orb2 revolution(365.2563) linear infinite;
  &:before{
    background:blue;
  }
}
.three{
  animation: orb3 revolution(365.2563) linear infinite;
  &:before{
    background:green;
  }
}

/*Here is animation*/
@keyframes orb1{
  from {
    transform:rotate(0deg)
  }
  to{
    transform:rotate(-360deg)
  }
}
@keyframes orb2{
  from {
    transform:rotate(-120deg)
  }
  to{
    transform:rotate(-480deg)
  }
}
@keyframes orb3{
  from {
    transform:rotate(-240deg)
  }
  to{
    transform:rotate(-600deg)
  }
}
